# Unit 10. 리스트(list)와 튜플(tuple) 사용하기 (feat. 만들기)

지금까지 변수에는 값을 한 개씩만 저장했습니다.
```python
a = 10
b = 20
```
그럼 값을 30개 저장하려면 어떻게 해야 할까요? 다음과 같이 변수 30개에 값 30개를 저장하면 됩니다.
```python
a1 = 10
a2 = 20
# ... (생략)
a29 = 60
a30 = 40
```
변수 30개를 일일이 타이핑하기는 쉽지 않습니다.  
만약 저장할 값이 3,000개라면 정말 끔찍하죠?  
이때는 리스트를 사용하면 편리합니다.  
리스트는 말 그대로 목록이라는 뜻이며 값을 일렬로 늘어놓은 형태입니다  
(보통 리스트의 값은 코드로 생성하는 경우가 많아서 타이핑할 일이 거의 없습니다).

## 10.1 리스트 만들기

변수에 값을 저장할 때 `[ ]`(대괄호)로 묶어주면 리스트가 되며 각 값은 `,`(콤마)로 구분해줍니다.

> 리스트 = [값, 값, 값]

그럼 숫자가 5개 들어있는 리스트를 만들어보겠습니다.

```ipython
>>> a = [38, 21, 53, 62, 19]
>>> a
[38, 21, 53, 62, 19]
```

`a = [38, 21, 53, 62, 19]`와 같이 변수에 `[ ]`로 값을 저장하여 리스트를 만들었습니다.  
특히 리스트에 저장된 각 값 `요소(element)`라고 부릅니다.  
이 단어를 잘 기억해두세요.

In [1]:
a = [1,2,3,4,5]
print(a)

[1, 2, 3, 4, 5]

In [4]:
a = list(range(1,101))

In [10]:
b = input()
print(b)

 1 2 3 4 5

1 2 3 4 5

In [17]:
b=b.split()

In [18]:
print(b)

['1', '2', '3', '4', '5']

In [26]:
b[-5]

'1'

In [15]:
b[4]

'3'

In [62]:
a = input().split()
print(a)

 1 2 3 4 5

['1', '2', '3', '4', '5']

In [69]:
a = list(map(int,a))

In [70]:
print(a)

[1, 2, 3, 4, 5]

In [71]:
a[0] + a[1]

3

In [66]:
int(a[0]) + int(a[1])

3

In [9]:
a

['1', '2', '3', '4', '5']

In [ ]:
a,b,c = map(int, input().split())

In [74]:
list(map(lambda x:x/5, a))

[0.2, 0.4, 0.6, 0.8, 1.0]

In [3]:
a = [38, 21, 53, 62, 19]
print(a)

[38, 21, 53, 62, 19]

In [10]:
a[-10]

IndexError: list index out of range

In [2]:
a

[38, 21, 53, 62, 19]

### 10.1.1  리스트에 여러 가지 자료형 저장하기

리스트는 문자열, 정수, 실수, 불 등 모든 자료형을 저장할 수 있으며  
자료형을 섞어서 저장해도 됩니다

```ipython
>>> person = ['james', 17, 175.3, True]
>>> person
['james', 17, 175.3, True]
```
이처럼 리스트에 여러 가지 자료형을 사용하면 관련 정보를 하나로 묶기 좋습니다.

In [27]:
person = ['james', 17, 175.3, True, 180, 200, 10000]
print(person)

['james', 17, 175.3, True]

In [29]:
person[1]

17

In [34]:
person[1:3]

[17, 175.3]

In [30]:
a = [1, 2]

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2080610662.py, line 1)

에러
```python
a = [1 2]
```

에러메시지
```
    a = [1 2]
         ^
SyntaxError: invalid syntax. Perhaps you forgot a comma?
```

In [18]:
가 = [1,2]
가

[1, 2]

### 10.1.2  빈 리스트 만들기

빈 리스트를 만들 때는 [ ]만 지정하거나 list를 사용하면 됩니다.

> 리스트 = []
> 리스트 = list()

```ipython
>>> a = []
>>> a
[]
>>> b = list()
>>> b
[]
```
빈 리스트는 쓸모가 없을 것 같지만, 보통 빈 리스트를 만들어 놓은 뒤에 새 값을 추가하는 방식으로 사용합니다.

In [107]:
a = [1, 'noodle', -2, 'fried rice', 4.54]
print(a)

[1, 'noodle', -2, 'fried rice', 4.54]

In [36]:
a = []
print(a)

[]

In [37]:
a = list()
print(a)

[]

In [59]:
a.append(1)
print(a)

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [ ]:
list(range(10))

In [ ]:
range를 사용해서 1부터 15까지의 홀수를 만들어보세요

In [ ]:
range를 사용해서 100이하의 3의 배수를 만들어보세요 (0은 포함하지 않습니다.)

In [ ]:
range를 사용해서 10 초과 20미만의 짝수를 만들어보세요

In [77]:
list(range(0,10,1))

[0, 2, 4, 6, 8]

In [97]:
# range(시작, 끝, 증가폭)

In [98]:
print(a,b,sep="\n")
# print("-----")
# print(a,b,sep="*")

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [101]:
print(a[0], b[0], sep="  ||||  ")

0  ||||  0

In [103]:
a.append(10)
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 10]

In [104]:
b.append(10)
print(b)

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
print(a[0]

In [80]:
a= list(range(10))
a[0]

0

In [81]:
b=tuple(range(10))
b[0]

0

In [105]:
a = [1,2,3]
b = [3,4,5]

In [ ]:
c = a+b # c = [4,5,6]

In [106]:
a = 3
# c = 6
print(a+c)

NameError: name 'c' is not defined

In [25]:
a = list(range(11,301,11))
print(a)

[11, 22, 33, 44, 55, 66, 77, 88, 99, 110, 121, 132, 143, 154, 165, 176, 187, 198, 209, 220, 231, 242, 253, 264, 275, 286, 297]

### 10.1.3  range를 사용하여 리스트 만들기

이번에는 range를 사용하여 리스트를 만들어보겠습니다.  
range는 연속된 숫자를 생성하는데 range에 10을 지정하면 0부터 9까지 숫자를 생성합니다.  
즉, 지정한 횟수 숫자는 생성되는 숫자에 포함되지 않습니다.

> range(횟수)

```ipython
>>> range(10)
range(0, 10)
```

range(0, 10)이라고 나와서 10까지 생성될 것 같지만 10은 포함되지 않습니다. 
```ipython
>>> a = list(range(10))
>>> a
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
```

range는 시작하는 숫자와 끝나는 숫자를 지정할 수도 있습니다.  
이때도 끝나는 숫자는 생성되는 숫자에 포함되지 않습니다.  
즉, list에 range(5, 12)를 넣으면 5부터 11까지 들어있는 리스트가 생성됩니다.

> 리스트 = list(range(시작, 끝))

```ipython
>>> b = list(range(5, 12))
>>> b
[5, 6, 7, 8, 9, 10, 11]
```

이번에는 증가폭을 사용하는 방법입니다.
range에 증가폭을 지정하면 해당 값만큼 증가하면서 숫자를 생성합니다.

> 리스트 = list(range(시작, 끝, 증가폭))

```ipython
>>> c = list(range(-4, 10, 2))
>>> c
[-4, -2, 0, 2, 4, 6, 8]
```

만약 증가폭을 음수로 지정하면 해당 값만큼 숫자가 감소합니다.
```ipytyon
>>> d = list(range(10, 0, -1))
>>> d
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
```

In [27]:
c = list(range(-4, 10, 2))
print(c)

[-4, -2, 0, 2, 4, 6, 8]

## 10.2 튜플 사용하기

지금까지 리스트를 사용해보았는데 파이썬에서는 튜플이라는 자료형도 제공합니다.  
튜플은 리스트처럼 요소를 일렬로 저장하지만, 안에 저장된 요소를 변경, 추가, 삭제를 할 수 없습니다.  
간단하게 읽기 전용 리스트라고 할 수 있죠

변수에 값을 저장할 때 `( )`(괄호)로 묶어주면 튜플이 되며  
각 값은 `,`(콤마)로 구분해줍니다.  
또는, 괄호로 묶지 않고 값만 콤마로 구분해도 튜플이 됩니다.

> 튜플 = (값, 값, 값)  
> 튜플 = 값, 값, 값  

그럼 숫자가 5개 들어있는 튜플을 만들어보겠습니다.

```ipython
>>> a = (38, 21, 53, 62, 19)
>>> a
(38, 21, 53, 62, 19)
```

In [28]:
a = (38, 21, 53, 62, 19)

In [29]:
print(a)

(38, 21, 53, 62, 19)

### 10.2.1  요소가 한 개 들어있는 튜플 만들기

지금까지 요소가 여러 개 들어있는 튜플을 만들었습니다.  
그럼 요소가 한 개 들어있는 튜플은 어떻게 만들까요?  
다음과 같이 값 한 개를 괄호로 묶으면 튜플이 아니라 그냥 값이 됩니다.

```ipython
>>> (38)
38
```

요소가 한 개인 튜플을 만들 때는 `( )`(괄호) 안에 값 `한 개`를 넣고 `,`(콤마)를 붙입니다.  
또는, 괄호로 묶지 않고 값 `한 개`에 `,`를 붙여도 됩니다.

> 튜플 = (값, )  
> 튜플 = 값,

```ipython
>>> (38, )
(38,)
>>> 38,
(38,)
```

## 중급

리스트와 튜플 변수로도 변수 여러 개를 만들 수 있습니다.  
다음과 같이 리스트와 튜플의 요소를 변수 여러 개에 할당하는 것을  
`리스트 언패킹`(list unpacking), `튜플 언패킹`(tuple unpacking)이라고 합니다.

```ipython
>>> x = [1, 2, 3]
>>> a, b, c = x
>>> print(a, b, c)
1 2 3
>>> y = (4, 5, 6)
>>> d, e, f = y
>>> print(d, e, f)
4 5 6
```

## 10.3 퀴즈
https://dojang.io/mod/quiz/attempt.php?attempt=1933626&cmid=2202

## 10.4 연습문제: range로 리스트 만들기
https://dojang.io/mod/page/view.php?id=2203

## 10.5 심사문제: range로 튜플 만들기
https://dojang.io/mod/quiz/attempt.php?attempt=1933627&cmid=2204