# Unit6. 변수와 입력 사용하기

계산 결과를 저장히여 다음에 사용하기 위하여 변수 활용

변수에 값 할당방법
```python
# x에 10을 입력
x = 10
```

![Variable_assign](images/variable_assign.jpg)

## 변수 이름 규칙
- 영문 문자와 숫자를 사용할 수 있습니다.
- 대소문자를 구분합니다.
- 문자부터 시작해야 하며 숫자부터 시작하면 안됩니다.
- _(밑줄문자)는 사용할 수 있습니다. (_로 시작할수 있습니다.)
- 특수 문자(+, -, *, /, $, @, &, % 등) 는 사용할 수 없습니다. 
- 파이썬의 키워드 (if, for, while, and, or 등)는 사용할 수 없습니다.

In [5]:
x = 10

In [6]:
x

10

In [7]:
type(x)

int

In [8]:
y = 1.1

In [9]:
type(y)

float

In [10]:
type("hello")

str

In [3]:
del x

In [4]:
x

NameError: name 'x' is not defined

In [15]:
x

10

4bytes

In [5]:
x

10

In [12]:
y = "hello"

In [13]:
y

'hello'

In [18]:
del x

NameError: name 'x' is not defined

In [17]:
x

NameError: name 'x' is not defined

In [19]:
y

'hello'

In [20]:
del y

In [21]:
y

NameError: name 'y' is not defined

In [ ]:
a1 = 1

In [1]:
x =  10
print(x)

10

## 6.1 변수 만들기

```python
x=10
y = "hello world"
print(x)
print(y)
```

In [2]:
x = 10
y = "hello world"
print(x)
print(y)

10
hello world

In [6]:
y="hi"
print(y)

hi

### 6.1.1 변수의 자료형(type) 알아보기

```python
type(x)
type(y)
```

In [ ]:
print(type(x))
print(type(y))

### 6.1.2 변수 여러개를 한번에 만들기

,(콤마) 로 구분하면 됨.
```python
x, y, z = 10, 20, 30
```

동일한 값으로 넣어주기
```python
x = y = z = 10
```

In [15]:
x = y = z = 10

In [22]:
print(x, y, z, sep=".")

10.10.10

In [45]:
x = 101
y = "hello"
z = 1.5

In [44]:
type(x)

int

In [47]:
print(type(y))
print(len(y))

<class 'str'>
5

In [32]:
type(z)

float

In [50]:
x = 20
y = 20
z = 20
print(x, y, z)

20 20 20

In [51]:
x = y = z = 20
print(x, y, z)

20 20 20

In [52]:
x = -10

In [53]:
print(x, y, z)

-10 20 20

In [54]:
type(x)

int

In [49]:

# x, y, z = 10, 20, 30
x = y = z = 20
print(x, y, z)

20 20 20

In [55]:
x,y,z=10,20,30
print(x,y,z)

10 20 30

In [56]:
x,y = 10,20,30

ValueError: too many values to unpack (expected 2)

In [58]:
x,y = 10,20

In [59]:
print(x,y)

10 20

In [61]:
x,y = y,x

In [62]:
print(x,y)

20 10

In [57]:
x, y, z = 20, 30

ValueError: not enough values to unpack (expected 3, got 2)

#### 변수값 바꾸어 주기

```python
x,y = 10,20
print(x,y)
x, y = y,x
print(x,y)
```

#### 좌, 우 갯수가 안맞는다면?

```python
x,y,z = 10,20
x,y = 10,20,30

```

In [ ]:
x,y = 10,20
print(x,y)
x, y = y,x
print(x,y)

In [ ]:
x=10
y=20
t = x
x = y
y = t
print(x,y)

#### 변수 삭제하기 (del)

```python
x = 10
print(x)
del x
print(x)
```


아래와 같은 에러메시지가 나오면 정상
```
---------------------------------------------------------------------------
NameError                                 Traceback (most recent call last)
<ipython-input-22-6fcf9dfbd479> in <module>
----> 1 x

NameError: name 'x' is not defined
```

In [14]:
print(a)

1

In [16]:
print(a)

NameError: name 'a' is not defined

In [12]:
a = 1

In [15]:
del a

In [ ]:
x = 10
print(x)

In [ ]:
del x
print(x)

In [ ]:
print(abc)

## 6.2 변수로 계산하기

`a` 와 `b` 의 값이 같을까요?
```python
a = 10
a + 20

b = 10
b = b + 20

print(a,b)
```

In [24]:
a = 10
print(a+10)

print(a)

20
10

In [25]:
a = 10
a = a+10
print(a)

20

In [28]:
a = 10
a %= 10
print(a)

0

In [63]:
a = 10
print(a + 20)
print(a)

30
10

In [64]:
a = 10
a = a + 20
print(a)

30

In [ ]:
a = 10
a += 20
print(a)

In [ ]:
x = 10
del x

In [ ]:
print(x)

In [ ]:
del x111

In [20]:
a = 10
b = 20

c = a+b

print(c)

30

In [ ]:
a = 10
print(a)

In [ ]:
a + 10
print(a)

In [ ]:
a = a+10
print(a)

In [ ]:
a = 10
a -= 10
print(a)

In [ ]:
a = 10
a *= 3
print(a)

In [ ]:
a = 10
a /= 2
print(a)

In [ ]:
a = 10
a += 10
print(a)

### `+=` 연산자에 대해서 알아보아요

`a`와 `b`가 같을까요?
```python
a = 10
a = a + 20

b = 10
b += 20

print(a,b)
```


어떤 결과가 나올까요?
```python
c += 20
```

## 6.3 입력값을 변수에 저장하기

프로그램 실행 이후에 사용자(Human)에게 키보드로 값을 입력받기 위한 방법

In [21]:
a = 10
a = a + 10
print(a)

20

In [38]:
a -= 10

In [39]:
print(a)

-10

### 6.3.1 input() 사용하기

input()을 입력한 뒤 엔터 키를 누르면 다음 줄로 넘어갑니다.  
이 상태에서 Hello, world!를 입력한 뒤 엔터 키를 누르세요.  
입력한 문자열이 그대로 출력됩니다.   
**즉, 사용자가 입력한 값을 가져오는 함수입니다.**

```ipython
>>> input()
Hello, world! (입력)
'Hello, world!'
```

In [38]:
a = input()
print(a)
print(type(a))
a = int(a)
print(type(a))

 abc

abc
<class 'str'>

ValueError: invalid literal for int() with base 10: 'abc'

In [40]:
a = input("정수를 입력하세요")

정수를 입력하세요 111

In [71]:
a = input("입력하세요")
print(a)
print(type(a))

입력하세요 dj

dj
<class 'str'>

In [ ]:
type(a)

In [40]:
input()

 aaa

'aaa'

### 6.3.2 input() 함수결과를 변수에 저장하기

```python
x = input()
print(x)
```

위의 코드와 어떤 차이가 있을까요?
```pytnon
x = input("문자열을 입력하세요: ")
print(x)
```

In [43]:
x = input("문자열을 입력하세요: ")

문자열을 입력하세요:  동해물과 백두산이

In [44]:
print(x)

동해물과 백두산이

### 6.3.3 두 숫자의 합 구하기

어떤 결과가 출력될까요?
```python
a = input("첫번째 숫자를 입력하세요: ")  # 10을 입력하세요
b = input("두번째 숫자를 입력하세요: ")  # 20을 입력하세요

print(a+b)
```

왜 그럴까요?
```python
a = input("첫번째 숫자를 입력하세요: ")
type(a)
```

In [42]:
a = input("첫번째 숫자")
b = input("두번째 숫자")

print(int(a)+int(b))

첫번째 숫자 10
두번째 숫자 20

30

In [12]:
a = input("첫번째 숫자를 입력하세요: ")  # 10을 입력하세요
b = input("두번째 숫자를 입력하세요: ")  # 20을 입력하세요

a = int(float(a)) #1
b = round(float(b),0) #2

print(a+b)

첫번째 숫자를 입력하세요:  1.0
두번째 숫자를 입력하세요:  2.5

3.0

In [50]:
a = input("첫번째 숫자를 입력하세요: ")  # 10을 입력하세요
b = input("두번째 숫자를 입력하세요: ")  # 20을 입력하세요

print(type(a))

첫번째 숫자를 입력하세요:  10
두번째 숫자를 입력하세요:  20

<class 'str'>

In [49]:
type(1.0)

float

In [52]:
a = input("first number? ")
b = input("second number? ")

print(float(a)+float(b))

first number?  10
second number?  20

30.0

### 6.3.4 입력값을 정수로 변환하기

10 + 20 의 결과가 30이 나오게 하려면 input() 에서 입력받은 문자열을 숫자(정수)로 만들어 주어야 합니다.
```python
a = int(input("첫번째 숫자를 입력하세요: "))
b = int(input("두번째 숫자를 입력하세요: "))
a+b
```

## 6.4 입력 값을 변수 두개에 저장하기

input()에서 split()을 사용하여 한 번에 값을 여러 개 입력받아 봅시다.
```python
# hello python 이라고 입력해보세요
a, b = input('문자열 두 개를 입력하세요: ').split()  # 입력받은 문자열을 공백 기준으로 분리
print(a)
print(b)
```

In [47]:
input().split(" ") # input().split(" ")

 10 20 30,40

['10', '20', '30,40']

In [ ]:
a, b = 12

In [21]:
a, b = input("two number?").split()
print(a)
print(b)

two number? 1 2

1
2

In [15]:
"1,2".split(",")

['1', '2']

In [48]:
article="""
만취 상태로 친구 승용차를 몰다가 부천 북부역 한 주점으로 돌진해 2명을 다치게 한 10대 남성이 경찰에 붙잡혔다.

부천 원미경찰서는 도로교통법상 음주운전과 특정범죄가중처벌법상 위험운전치상 혐의로 A씨(19)를 붙잡아 수사 중이라고 12일 밝혔다.

A씨는 이날 오전 4시9분께 부천시 심곡동 한 이면도로에서 제네시스 승용차를 몰다가 주점으로 돌진해 주점 안에 있던 30대 남성 B씨와 20대 남성 C씨 등 2명을 다치게 한 혐의를 받고 있다.

B씨는 들이닥친 차량으로 테이블이 밀리면서 좌측 무릎이 부딪혀 다쳤고 C씨는 깨진 유리창 파편으로 인해 양쪽 눈에 이물질이 들어가 병원에서 치료를 받았다.

현장에 출동한 경찰이 사고 이후 측정한 A씨의 혈중알코올농도는 면허 취소 수치인 0.14%로 확인됐다.

A씨는 최근 운전면허를 취득해 친구의 차량을 10m가량 몰다가 사고를 낸 것으로 조사됐다. 차주인 A씨의 친구는 당시 시동을 켜놓은 채 자리를 비운 상태였다.

A씨는 “호기심에 친구 차량을 운전하다가 사고를 냈다”고 진술했다.

경찰 관계자는 “A씨를 일단 귀가하도록 조치했다”며 “추후 다시 불러 정확한 사고 경위를 조사할 계획”이라고 말했다.
"""

In [52]:
len(article.split("\n"))

17

In [19]:
len(article.split())

138

In [20]:
len(article.replace("", " "))

1189

In [16]:
"동해물과 백두산이 마르고 닳도록 하느님이 보우하사".split()

['동해물과', '백두산이', '마르고', '닳도록', '하느님이', '보우하사']

### 6.4.1 두 숫자의 합 구하기

어떤 결과가 나올까요?
```python
# 10 20 을 입력해보세요
a, b = input("숫자 두 개를 입력하세요: ").split()
print(a+b)
```

In [ ]:
a, b = input("숫자 두 개를 입력하세요: ").split()
print(a+b)

### 6.4.2 입력값을 정수로 변환하기

```python
# 10 20 을 입력해보세요
a, b = input("숫자 두 개를 입력하세요: ").split()
a = int(a)
b = int(b)
print(a+b)
```

In [ ]:
a, b = input("숫자 두 개를 입력하세요: ").split()
a = int(a)
b = int(b)
print(a+b)

### 6.4.3 map()을 사용하여 정수로 변환하기

입력해야 하는 코드가 많이 줄었지요? (이정도면 python 고수입니다.)  
실수로 변환할때는 int 대신 float를 넣어줍니다.  
(나중에 함수 배울때 더 자세하게 설명할께요)  
```python
# 10 20을 입력해보아요
a, b=map(int, input("숫자 두 개를 입력하세요: ").split())
print(a+b)
```

In [ ]:
a, b=map(int, input().split())
print(a+b)

In [57]:
a = input("숫자 두 개를 입력하세요: (공백으로 구분해주세요)")

숫자 두 개를 입력하세요: (공백으로 구분해주세요) 10 20 30 40

In [58]:
a

'10 20 30 40'

In [62]:
a1, a2, a3, a4 = map(int, a.split())

In [63]:
print(a1, a2, a3, a4)

10 20 30 40

In [61]:
b

In [59]:
a.split(" ")

['10', '20', '30', '40']

### 6.4.4 입력받은 값을 콤마 기준으로 분리하기

```
# 10, 20을 입력해보아요
a, b=map(int, input("숫자 두 개를 입력하세요: ").split(","))
print(a+b)
```

In [ ]:
a, b = input("two number?").split(" ")
a = int(a)
b = int(b)
print(a+b)

#### 입력과 변수 개수가 다를 경우 (더 많이 입력했을 경우)

```
# 10, 20, 30을 입력해보아요
a, b=map(int, input("숫자 두 개를 입력하세요: ").split(","))
```

아래와 같은 메시지가 나오면 정상입니다.
```
---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
Cell In [2], line 1
----> 1 a, b=map(int, input("숫자 두 개를 입력하세요: ").split(","))

ValueError: too many values to unpack (expected 2)
```

#### 입력과 변수 개수가 다를 경우 (더 적게 입력했을 경우)

```python
# 10을 입력해보아요
a, b=map(int, input("숫자 두 개를 입력하세요: ").split(","))
```

아래와 같은 메시지가 나오면 정상입니다.
```
---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
Cell In [3], line 2
      1 # 10을 입력해보아요
----> 2 a, b=map(int, input("숫자 두 개를 입력하세요: ").split(","))

ValueError: not enough values to unpack (expected 2, got 1)
```

## 6.5 Quiz

https://dojang.io/mod/quiz/view.php?id=2180

## 6.6 연습문제: 정수 세 개를 입력 받고 합계 출력하기
https://dojang.io/mod/page/view.php?id=2181

In [ ]:
del c

In [ ]:
a = 50
b = 100
c = "None"
print(a)
print(b)
print(c)

50
100
None

In [24]:
a,b,c,d = input().split()
t = int(a) + int(b) + int(c) + int(d)
avg = int(t/4)
print(avg)

 32 53 22 95

50

In [ ]:
a,b,c = map(int, input().split())
print(a + b + c)

-10 20 30 (입력)
40

## 6.7 심사문제: 변수 만들기 -- 과제
https://dojang.io/mod/quiz/view.php?id=2182

## 6.8 심사문제: 평균점수 구하기  -- 과제
https://dojang.io/mod/quiz/view.php?id=2183

입력
83 92 87 90
결과
88

입력
32 53 22 95
결과
50

In [ ]:
a, b, c, d = map(int, input().split())
avg = int((a+b+c+d) / 4)
print(avg)