# Pandas DataFrame
- DataFrame 생성
- column 변경
- element 접근
- 필터링 / 슬라이싱 / 정렬
- 데이터 변경 / 추가 / 삭제
- 통계
- 시각화

# DataFrame 

- DataFrame은 `2차원 테이블 형태`의 데이터 구조로, `행`과 `열`로 이루어져 있습니다. 
- DataFrame은 `여러 개의 Series`로 구성되어 있으며, 각 `Series`는 하나의 `열(column)`을 나타냅니다. 
- DataFrame은 여러 데이터 타입을 포함할 수 있으며, 각 열은 서로 다른 데이터 타입을 가질 수 있습니다.

## 하나의 Series를 데이터 프레임으로 변환

In [ ]:
import pandas as pd
s = pd.Series([1,2,3], index=list("ABC"))
s.name = "grade"
s.index.name = "name"
print(s)

In [ ]:
# to_frame() 활용
print(type(s.to_frame()), end="\n----\n")
s.to_frame()

In [ ]:
# reset_index() 활용
s.reset_index()

## Series를 pd.concat으로 결합하는 방법

In [ ]:
"""
판다스 시리즈를 활용한 데이터프레임 생성
"""
import pandas as pd

# 시리즈 생성
names = pd.Series(['Alice', 'Bob', 'Charlie'], name="Name")
ages = pd.Series([25, 30, 35], name="Age")
scores = pd.Series([85.5, 92.0, 78.5], name="Score")

# 시리즈들을 열방향으로 결합하여 데이터프레임 생성
df = pd.concat([names, ages, scores], axis=1)
df

In [ ]:
# 시리즈를 행 방향으로 결함
pd.concat([names, ages, scores])

In [ ]:
type(pd.concat([names, ages, scores]))

## 딕셔너리를 활용하는 방법

In [ ]:
"""
판다스 시리즈를 활용한 데이터프레임 생성 2
"""
import pandas as pd

# 시리즈 생성
names = pd.Series(['Alice', 'Bob', 'Charlie'])
ages = pd.Series([25, 30, 35])
scores = pd.Series([85.5, 92.0, 78.5])

# 데이터프레임 생성 (열 이름을 지정)
df = pd.DataFrame({
    'Name': names,
    'Age': ages,
    'Score': scores
})
df

In [ ]:
"""
딕셔너리를 활용한 데이터프레임 생성:
"""
import pandas as pd

# 딕셔너리를 사용하여 데이터프레임 생성
data = {
    'Name': ['Alice', 'Bob', 'Charlie'], # 열
    'Age': [25, 30, 35],                 # 열
    'Score': [85.5, 92.0, 78.5]          # 열
}

df = pd.DataFrame(data)
df

## 배열을 활용하는 방법

In [ ]:
"""
딕셔너리의 리스트를 활용한 데이터프레임 생성:
"""
import pandas as pd

# 리스트의 리스트를 사용하여 데이터프레임 생성
data = [
    {'name':'Alice', 'Age':25, 'Score':85.5},
    {'name':'Bob', 'Age':30, 'Score':92.0},
    {'name':'Charlie', 'Age':35, 'Score':78.5, "Gender":"Male"}
]

df = pd.DataFrame(data)
df

In [ ]:
df.info()

In [ ]:
"""
리스트의 리스트를 활용한 데이터프레임 생성:\
"""
import pandas as pd

# 리스트의 리스트를 사용하여 데이터프레임 생성
data = [
    ['Alice', 25, 85.5],  # 행
    ['Bob', 30, 92.0],    # 행
    ['Charlie', 35, 78.5] # 행
]

df = pd.DataFrame(data)
df

In [ ]:
df.columns=["Name", "Age", "Score"]
df

In [ ]:
df = pd.DataFrame(data, columns=["Name", "Age", "Score"])
df

In [ ]:
df.info()

## 파일로 부터 데이터프레임 만들기

In [ ]:
"""
파일로 부터 읽어오기
"""
import pandas as pd

df = pd.read_csv("sample.csv", )

In [ ]:
# pandas 에서 제공하는 read_XXX 함수 목록
list(filter(lambda x: x.startswith("read"), dir(pd)))

## 데이터프레임 주요 속성

In [ ]:
df.info()

In [ ]:
df.T

In [ ]:
df.transpose()

In [ ]:
df

In [ ]:
type(df)

In [ ]:
df.index

In [ ]:
type(df.index)

In [ ]:
df.columns

In [ ]:
df.size

In [ ]:
df.shape

In [ ]:
df.describe()

## column 변경

In [ ]:
import pandas as pd

# 데이터프레임 생성
data = [
    ['Alice', 25, 85.5],
    ['Bob', 30, 92.0],
    ['Charlie', 35, 78.5]
]
df = pd.DataFrame(data, columns=['Name', 'Age', 'Score'])
df

In [ ]:
# column 순서를 "Name", "Score", "Age"로 변경
df = df[["Name", "Score", "Age"]]
df

In [ ]:
import pandas as pd

data = [
    ['Alice', 25, 85.5],
    ['Bob', 30, 92.0],
    ['Charlie', 35, 78.5]
]
df = pd.DataFrame(data, columns=['Name', 'Age', 'Score'])
df

In [ ]:
# column 이름 변경 (Name->Nick)한 새로운 데이터프레임을 리턴
df.rename(columns=dict(Name="Nick"))

In [ ]:
# 원본 데이터는 변경되지 않음
df

In [ ]:
# 원본 데이터의 컬럼 이름을 변경
df.rename(columns=dict(Name="Nick"), inplace=True)
df

In [ ]:
# columns 속성을 활용
df.columns=["Nick", "Year", "Point"]

In [ ]:
df

## DataFrame 내 단일 element 접근

Pandas DataFrame에서 개별 원소에 접근하는 방식입니다.
- `iat[행, 열]` 인덱서 
- `iloc[행, 열]` 인덱서
- `at[행, 열]` 라벨 기반 인덱서
- `loc[행, 열]` 라벨 기반 인덱서

In [ ]:
import pandas as pd

# DataFrame 생성
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'Score': [85.5, 92.0, 78.5]
}
df = pd.DataFrame(data, index = list("ABC"))
df

In [ ]:
"""
iat[행, 열] 인덱서를 사용하여 원소에 접근
"""
df.iat[0,1]

In [ ]:
type(df.iat[0,1])

In [ ]:
"""
iloc[행, 열] 인덱서를 사용하여 원소에 접근
"""
element_1 = df.iloc[0, 1]  # 인덱스 0의 행, 인덱스 1의 열
element_2 = df.iloc[1, 2]  # 인덱스 1의 행, 인덱스 2의 열
print(element_1, element_2, sep="\n")

In [ ]:
"""
at[행, 열] 라벨 기반 인덱서를 사용하여 원소에 접근
"""
df.at["A", "Age"]

In [ ]:
"""
loc행, 열] 라벨 기반 인덱서를 사용하여 원소에 접근
"""
df.loc["A", "Age"]

## Dataframe 내 슬라이싱 기반 Series, DataFrame 추출
Pandas DataFrame에서 슬라이싱 기반 접근하는 방식에는 크게 두가지 방식이 있습니다.
 - `iloc[행, 열]`, `iloc[행]` 인덱서와 
 - `loc[행, 열]` 라벨 기반 인덱서

In [ ]:
import pandas as pd
import numpy as np
# DataFrame 생성
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [25, 30, 35, 28, 22],
    'Score': [85.5, 92.0, 78.5, 89.3, 95.1]
}
df = pd.DataFrame(data, index = list("ABCDE"))
df

### iloc[]인덱서

In [ ]:
# iloc를 활용하여 행 슬라이싱
sub = df.iloc[:2, :]
sub

In [ ]:
# iloc를 활용하여 열 슬라이싱
sub = df.iloc[:, 2:]
sub

In [ ]:
# iloc를 활용하여 행과 열 슬라이싱
sub = df.iloc[:2, 2:]
sub

In [ ]:
# 슬라이싱 결과는 DataFrame
type(sub)

In [ ]:
# Series가 리턴되는 경우 1
sub = df.iloc[:2, 2]
print(type(sub), sub, sep="\n")

In [ ]:
# Series가 리턴되는 경우 2
sub = df.iloc[2, 2:]
print(type(sub), sub, sep="\n")

In [ ]:
# iloc[행] : iloc의 인자가 하나만 있을 경우 해당 행의 전체 열의 데이터
df.iloc[:2]

In [ ]:
# 해당 행을 Series 형태로 가져옴
df.iloc[2]

In [ ]:
type(df.iloc[2])

## loc[] 인덱서

In [ ]:
"""
loc[]을 사용하여 Series 추출:
"""

import pandas as pd
import numpy as np
# DataFrame 생성
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [25, 30, 35, 28, 22],
    'Score': [85.5, 92.0, 78.5, 89.3, 95.1]
}
df = pd.DataFrame(data, index = list("ABCDE"))
df

In [ ]:
# loc를 활용하여 행기반 인덱싱
df.loc["B":"C", :]

In [ ]:
# loc를 활용하여 열기반 인덱싱
df.loc[:, "Age":"Score"]

In [ ]:
# 슬라이승 결과는 DataFrame 임
type(df.loc[:, "Age":"Score"])

In [ ]:
# 특정 행을 Series로 

df.loc["D",:]

In [ ]:
type(df.loc["D",:])

In [ ]:
# 특정 열을 Series로 

df.loc[:,"Score"]

In [ ]:
type(df.loc[:,"Score"])

In [ ]:
# 해
df.loc["A":"C"]

In [ ]:
# 해당 행을 Series 형태로 가져옴
df.loc["B"]

In [ ]:
type(df.loc["B"])

## [] 기반 데이터 접근

Pandas DataFrame에서 []는 여러 가지 기능을 수행하는데 사용됩니다. 

|표현|인덱싱|기능|설명|
|--|--|--|--|
|df[열 이름]|df.loc[:, 열이름]|열(Column) 접근| 해당 열을 Series로 추출합니다.|
|df[열 이름 리스트]|df.loc[:, 열이름 리스트]|여러 열에 접근 | 해당 열들을 DataFrame으로 추출합니다.|
|df[슬라이싱]|df.loc[슬라이싱] or df.iloc[슬라이싱]|행 슬라이싱(Slicing) |하여 DataFrame에서 특정 범위의 행을 추출합니다.|
|df[불린(Boolean) 조건]| - |조건 필터링(Condition Filtering) |조건에 맞는 행만 추출합니다.|

In [ ]:
"""
열(Column) 접근:
[] 안에 열 이름을 넣으면 해당 열을 Series로 추출합니다.
DataFrame의 열은 사전(Dict)처럼 취급되기 때문에 열 이름을 키로 사용하여 열에 접근합니다.
"""
import pandas as pd
import numpy as np
# DataFrame 생성
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [25, 30, 35, 28, 22],
    'Score': [85.5, 92.0, 78.5, 89.3, 95.1]
}
df = pd.DataFrame(data, index = list("ABCDE"))
df

In [ ]:
"""
df[열이름]
"""

# 'Name' 열에 해당하는 데이터를 Series로 추출
df["Name"]

In [ ]:
type(df["Name"])

In [ ]:
df.Name

In [ ]:
df.loc[:, "Name"]

In [ ]:
"""
여러 열에 접근:
[] 안에 여러 열 이름을 리스트로 넣으면 해당 열들을 기반으로 DataFrame으로 추출합니다.
"""
# DataFrame 생성
import pandas as pd
import numpy as np
# DataFrame 생성
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [25, 30, 35, 28, 22],
    'Score': [85.5, 92.0, 78.5, 89.3, 95.1]
}
df = pd.DataFrame(data, index = list("ABCDE"))
df

In [ ]:
df[["Name","Age"]]

In [ ]:
df.loc[:, ["Name","Age"]]

In [ ]:
df.loc[:, "Name":"Age"]

In [ ]:
"""
슬라이싱(Slicing):
[] 안에 슬라이싱을 사용하여 DataFrame에서 특정 범위의 행을 추출합니다.
"""

# DataFrame 생성
import pandas as pd
import numpy as np
# DataFrame 생성
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [25, 30, 35, 28, 22],
    'Score': [85.5, 92.0, 78.5, 89.3, 95.1]
}
df = pd.DataFrame(data, index = list("ABCDE"))
df

In [ ]:
# 슬라이싱을 사용하여 인덱스 1부터 3까지의 행을 추출
df["B":"D"]

In [ ]:
df.loc["B":"D"]

In [ ]:
# 슬라이싱의 경우 원본데이터의 변경이 슬라이싱된 결과에 반영됨
df2 = df.loc["B":"D"]
df.at["B","Age"]=999

In [ ]:
df

In [ ]:
df2

## 조건식 기반 필터링 

- []활용: numpy 기반 조건식 입력
- query() 활용: "" 안에 python 기반 조건식 입력

### [] 활용 조건식 기반 필터링

In [ ]:
# DataFrame 생성
import pandas as pd
import numpy as np
# DataFrame 생성
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [25, 30, 35, 28, 22],
    'Score': [85.5, 92.0, 78.5, 89.3, 95.1]
}
df = pd.DataFrame(data, index = list("ABCDE"))
df

In [ ]:
# 'Age'가 30 이상인 행만 추출
df[df["Age"]>=30]

In [ ]:
df[df.Age>30]

In [ ]:
# and (&)
df[(df.Age>=25) & (df.Age<35)]

In [ ]:
# or (|)
df[(df.Age>30) | (df.Score>90)]

In [ ]:
# not (~)
df[~(df.Age>30)]

### query() 활용 조건식 기반 필터링

In [ ]:
df.query("Age>=30 or Score>90")

In [ ]:
df.query("not (Age>30 or Score>90)")

## 데이터 추가 

데이터 추가 예제:

데이터를 추가하는 방법은 기본적으로 새로운 행을 데이터 프레임에 추가하는 것입니다.  여러 가지 방법으로 데이터를 추가할 수 있습니다. 가장 일반적인 방법은 loc 또는 iloc 인덱서를 사용하는 것입니다.

### 행추가

In [ ]:
"""
loc를 사용하여 row 데이터 추가하기:
"""
import pandas as pd

# 기존 데이터 프레임 생성
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'Score': [90,80,70],
       }
df = pd.DataFrame(data, index=list("ABC"))
df

In [ ]:
# loc를 활용하여 dictionary 데이터로 행 추가
df.loc["D"]= {'Name': 'David', 'Score': 98}
df

In [ ]:
# loc를 활용하여 배열 데이터로 행 추가
df.loc["E"] =  ["Eva", 44, 81]
df

In [ ]:
df.loc["E"] =  ["Eva", 44] # error -ValueError: Must have equal len keys and value when setting with an iterable

In [ ]:
df.loc["T","Name":"Age"] = ["Ted", 43]
df

### 열 추가

In [ ]:
"""
loc를 사용하여 row 데이터 추가하기:
"""
import pandas as pd

# 기존 데이터 프레임 생성
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'Score': [90,80,70],
       }
df = pd.DataFrame(data, index=list("ABC"))
df

In [ ]:
"""
loc를 사용하여 열추가:
"""
df.loc[:, "Gender"] = ["Femail", "Male", "Male"]
df

In [ ]:
"""
대괄호를 사용하여 열추가:
"""
df["Gender"] = ["Femail", "Male", "Male"]
df


## 데이터 삭제

데이터 프레임에서는 `drop()` 메소드를 사용하여 데이터를 삭제합니다.

## 특정 행 삭제

In [ ]:
"""
drop() 메서드를 사용하여 특정 행 삭제하기:
"""

import pandas as pd

# 기존 데이터 프레임 생성
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'Score': [90,80,70],
       }
df = pd.DataFrame(data, index=list("ABC"))
df

In [ ]:
# drop()으로 행 삭제 1
df.drop("A")

In [ ]:
# drop()으로 행 삭제 2
df.drop(["A","B"])

In [ ]:
df

In [ ]:
df.drop(["A","B"], inplace=True)
df

### 열삭제

In [ ]:
"""
열삭제
"""

import pandas as pd

# 기존 데이터 프레임 생성
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'Score': [90,80,70],
       }
df = pd.DataFrame(data, index=list("ABC"))
df

In [ ]:
# 조건에 맞는 행 삭제 (예: 나이가 30 이상인 행 삭제)
df.drop(columns=["Age"])

## 데이터 변경
판다스(Pandas)에서 기존 데이터를 변경하는 방법에는 다양한 방법이 있습니다. 가장 일반적으로 사용되는 방법은 인덱싱 및 슬라이싱을 통해 특정 위치의 데이터를 수정하는 것입니다

- 단일 셀의 데이터 변경:
- 조건에 맞는 셀의 데이터 일괄 변경:
- 새로운 시리즈로 데이터 일괄 변경:

우선 단일 셀의 데이터를 변경하는 방법입니다.

In [ ]:
"""
1. 단일 셀의 데이터 변경:
"""
import pandas as pd

# 기존 데이터 프레임 생성
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'Score': [90,80,70],
       }
df = pd.DataFrame(data, index=list("ABC"))
df

In [ ]:
# 특정 셀의 데이터 변경
df.at["A","Name"] = "Andrea"
df

In [ ]:
df.iat[1,1] =  50
df

In [ ]:
"""
2. 조건에 맞는 셀의 데이터 일괄 변경:
"""
import pandas as pd

# 기존 데이터 프레임 생성
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'Credit': [90,80,70],
       }
df = pd.DataFrame(data, index=list("ABC"))
df

In [ ]:
# 조건에 맞는 셀의 데이터 일괄 변경 (예: 나이가 30 이상인 경우 나이를 40으로 변경)
df.loc[df.Age>=30, "Age"] = 40
df

In [ ]:
import pandas as pd

# 기존 데이터 프레임 생성
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'Credit': [90,80,70],
       }
df = pd.DataFrame(data, index=list("ABC"))
df

In [ ]:
# Age가 30이상인 경우 해당 Age의 0.1 을 곱한 만큼 Credit 에 더하기
df.loc[df.Age>=30, "Credit"] = df.loc[df.Age>=30, "Credit"] + (df.loc[df.Age>=30, "Age"]*0.1)
df

### 새로운 Series데이터로 변경

In [ ]:
# 새로운 시리즈로 데이터 일괄 변경
df.Age = pd.Series([45,43,42],  index=list("ABC"))

In [ ]:
df

## 정렬
데이터프레임을 정렬하는 방법
- sort_index() 각 행의 index를 기준으로 정렬 
- sort_values() 특정 컬럼의 값을 기준으로 정렬

`ascending` 파리미터를 통해 오름차순 또는 내림차순으로 정렬

In [ ]:
import pandas as pd

# 데이터 생성
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Age': [25, 35, 35, 28],
        'Gender': ['Female', 'Male', 'Male', 'Male'],
        'Height': [165, 180, 175, 170]}

df = pd.DataFrame(data,  index=list("ABCD"))
df

In [ ]:
# 인덱스 기준으로 내림차순 정렬
df.sort_index(ascending=False)

In [ ]:
# Age 열을 기준으로 오름차순 정렬
df.sort_values(by="Age", ascending=True)

In [ ]:
# Height 열을 기준으로 내림차순 정렬
df.sort_values(by="Height", ascending=False)

In [ ]:
# 여러 열을 기준으로 정렬 (나이를 먼저 오름차순으로 정렬하고, 그 다음 키를 내림차순으로 정렬)
df.sort_values(by=["Age", "Height"], ascending=[True, False])

(아래내용 읽기)

## 데이터프레임 산술 연산

데이터프레임은 다양한 산술 연산을 지원하며, 기본적으로 요소별(element-wise) 연산이 이루어집니다. 
산술 연산은 데이터프레임 간의 연산 또는 데이터프레임 내부의 열 간 연산이 가능합니다. 

데이터프레임은 덧셈(+), 뺄셈(-), 곱셈(* ), 나눗셈(/) 등의 산술 연산을 지원하며, 
이 외에도 다양한 수학 함수를 적용할 수 있습니다. 
데이터프레임의 산술 연산은 각 행과 열의 인덱스와 컬럼명을 기준으로 동일한 경우에만 진행되며,
한쪽이라도 없는 경우에는 NaN이 입력됩니다.

In [ ]:
"""
데이터프레임 간의 덧셈 연산
"""

import pandas as pd

# 데이터 생성
data1 = {'A': [1, 2, 3],
         'C': [4, 5, 6]}
df1 = pd.DataFrame(data1)

data2 = {'A': [7, 8, 9, 10],
         'B': [11, 12, 13, 14],
         'C': [15, 16, 17, 18]
        }
df2 = pd.DataFrame(data2)

In [ ]:
df1

In [ ]:
df2

In [ ]:
# 데이터프레임 간의 덧셈 연산

df1+df2

In [ ]:
"""
데이터프레임 내부의 열 간 덧셈 연산
"""
# df1

df1.A + df1.C

## 전치(transpose)

데이터프레임의 transpose() 메서드를 사용하면 행과 열을 바꾸어 데이터프레임을 전치(transpose)할 수 있습니다.  
전치된 데이터프레임은 원래 데이터프레임의 행과 열이 서로 바뀐 형태로 반환됩니다.

In [ ]:
import pandas as pd

# 데이터 생성
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Age': [25, 35, 35, 28],
        'Gender': ['Female', 'Male', 'Male', 'Male'],
        'Height': [165, 180, 175, 170]}

df = pd.DataFrame(data,  index=list("ABCD"))
df

In [ ]:
# 데이터프레임 전치
df.transpose()

In [ ]:
df.T

## 통계

In [ ]:
import pandas as pd
import numpy as np

data = np.random.randint(50,100,15).reshape(5,3)
df = pd.DataFrame(
    data,
    index="Alice Bob Charlie David Eva".split(),
    columns="Kor Eng Math".split()
)
df

In [ ]:
df.mean()

In [ ]:
df.mean(axis=1)

In [ ]:
type(df.mean(axis=1))

In [ ]:
df.mean(axis=1).round(1)

In [ ]:
df.max()

In [ ]:
df.max(axis=1)

In [ ]:
df.max().max()

In [ ]:
df.describe()

In [ ]:
df.T.describe()

(아래 내용 그대로 읽기)

## numpy의 함수 적용

 NumPy 함수에 데이터프레임을 파라미터로 넣을 수 있습니다.

In [ ]:
"""
데이터프레임의 값에 로그 함수 적용하기 (NumPy 함수 사용)
"""
import pandas as pd
import numpy as np

# 데이터프레임 생성
data = {
    'A': [1, 2, 3, 4, 5],
    'B': [10, 20, 30, 40, 50],
    'C': [100, 200, 300, 400, 500]
}

df = pd.DataFrame(data)
df

In [ ]:
import numpy as np
df_log = np.log(df)

In [ ]:
type(df_log)

In [ ]:
df_log

In [ ]:
"""
데이터프레임의 값이 3 이상인 경우에만 제곱근 적용하기 (NumPy 함수와 조건 사용)
"""

import pandas as pd
import numpy as np

# 데이터프레임 생성
data = {
    'A': [1, 2, 3, 4, 5],
    'B': [10, 20, 30, 40, 50],
    'C': [100, 200, 300, 400, 500]
}

df = pd.DataFrame(data)

In [ ]:
df

In [ ]:
np.where(df>=40, np.sqrt(df), df)

In [ ]:
pd.DataFrame(
    np.where(df>=40, np.sqrt(df), df),
    index=df.index,
    columns=df.columns
)

## DataFrame 기반 시각화

In [ ]:
import pandas as pd
import numpy as np

data = np.random.randint(50,100,15).reshape(5,3)
df = pd.DataFrame(
    data,
    index="Alice Bob Charlie David Eva".split(),
    columns="Kor Eng Math".split()
)
df

In [ ]:
df.plot()

In [ ]:
df.plot(kind="bar")

In [ ]:
df.Math.hist(bins=10)

In [ ]:
df.plot(kind="scatter", x="Kor", y="Eng")

In [ ]:
df.plot(kind="box")

In [ ]:
# !pip install scipy
df.plot(kind="kde")

In [ ]:
df.plot(kind="pie", y="Math")