# 파이썬 문법 #1

- 파이썬 언어의 변수 타입   
- 파이썬 연산자  
- 시퀀스자료형 (Sequence)  
- 출력 형식  
- 조건문

# 파이썬 언어의 변수 타입

파이썬은 강력한 프로그래밍 언어로서 다양한 종류의 데이터를 처리할 수 있도록 여러 가지 자료형을 제공합니다.  
각각의 자료형은 특정한 종류의 값을 저장하고 조작하는 데 사용됩니다.

파이썬은 `동적 타이핑` 언어이므로 변수를 선언할 때 **변수의 타입을 명시적으로 지정할 필요가 없습니다.**  
변수는 할당되는 **값에 따라 자동으로 데이터 타입이 결정**됩니다.

|자료형|설명|비고|
|--|--|--|
|정수 (int)| 정수형은 정수 값을 나타내는 자료형입니다. 예를 들어, `-1`, `0`, `42`와 같은 값이 정수 자료형에 속합니다.|크기에 상관없이 정수를 표현 가능|
|부동소수점 (float)| 부동소수점형은 실수 값을 나타내는 자료형으로, 소수점을 가지는 숫자를 표현할 수 있습니다. 예를 들어, `3.14`, `-0.5`, `2.71828`과 같은 값이 부동소수점 자료형에 속합니다.| 파이썬 float는 64비트 - 15~17자리의 유효 숫자,  ±1.7 × 10^308에서 ±5.0 × 10^-324 |
|문자열 (str)| 문자열형은 문자들의 시퀀스를 나타내는 자료형입니다. 작은따옴표(`'`)나 큰따옴표(`"`)로 둘러싼 텍스트가 문자열로 간주됩니다. 예를 들어, `"Hello, World!"`나 `'Python'`과 같은 값이 문자열 자료형에 속합니다.| |
|불리언 (bool)| 불리언형은 `True`나 `False` 값 중 하나를 가지는 자료형입니다. 주로 조건문과 논리 연산에 사용됩니다.| |
|리스트 (list)| 리스트는 여러 개의 값을 순서대로 저장하는 자료형으로, 대괄호(`[]`)로 감싸며 값들은 쉼표로 구분됩니다. 리스트는 수정 가능하며, 다양한 자료형을 혼합해서 포함할 수 있습니다.| |
|튜플 (tuple)| 튜플은 리스트와 유사하지만 **수정이 불가능한 자료형**입니다. 소괄호(`()`)로 감싸며, 값들은 쉼표로 구분됩니다.| |
|세트 (set)| 세트는 고유한 값들의 집합을 나타내는 자료형으로, **중복된 값이 없습니다.** 중괄호(`{}`)로 감싸며, 값들은 쉼표로 구분됩니다.| |
|딕셔너리 (dict)| 딕셔너리는 **키-값 쌍**을 사용하여 값들을 저장하는 자료형입니다. 중괄호(`{}`)로 감싸며, 각 키와 값을 콜론(`:`)으로 구분하고 키-값 쌍들은 쉼표로 구분됩니다.| |
|바이트 (bytes) 및 바이트 배열 (bytearray)| 이들은 이진 데이터를 나타내는 자료형으로, 주로 파일 입출력과 네트워크 통신에서 사용됩니다.| |

In [1]:
"""
1. 정수형(Integer):
정수를 나타내는 데이터 타입입니다. 파이썬에서는 크기에 상관없이 정수를 표현할 수 있습니다.
"""

age = 25
year = 2023

print(type(age), age, type(year), year)

<class 'int'> 25 <class 'int'> 2023

Java 언어에서 8bytes integer 의 overflow 발생 예제

```java
// A.java
public class A {
    public static void main(String[] args) {
        long a = 9223372036854775807L;
        System.out.println(a);
        System.out.println(a+1);   // overflow 발생
    }
}
```

실행결과 

``` bash
$ javac A.java
$ java A
9223372036854775807
-9223372036854775808
```

In [2]:
import numpy as np

In [3]:
np.iinfo(np.int64)

iinfo(min=-9223372036854775808, max=9223372036854775807, dtype=int64)

In [4]:
a = np.iinfo(np.int64).max
a

9223372036854775807

In [5]:
a+1

9223372036854775808

In [6]:
a*a

85070591730234615847396907784232501249

In [7]:
'''
2. 부동소수점형(Float):
실수를 나타내는 데이터 타입으로, 소수점을 가지는 숫자를 표현합니다.
'''

pi = 3.14159
temperature = 25.5
length = 1.23e-2

print(type(pi), pi, type(temperature), temperature, type(length), length)

<class 'float'> 3.14159 <class 'float'> 25.5 <class 'float'> 0.0123

In [8]:
np.finfo(np.float64)

finfo(resolution=1e-15, min=-1.7976931348623157e+308, max=1.7976931348623157e+308, dtype=float64)

In [9]:
"""
부동소수점 오류
"""

x = 0.1 + 0.1 + 0.1
y = 0.3
print(x,y)
print(x == y)  # False (부동소수점 오류로 인해 False가 출력될 수 있음)

0.30000000000000004 0.3
False

In [10]:
"""
decimal 모듈을 사용하여 정확한 연산을 수행하는 예제
"""

from decimal import Decimal

# Decimal 객체 생성
decimal_x = Decimal('0.1') + Decimal('0.1') + Decimal('0.1')
decimal_y = Decimal('0.3')

# 정확한 비교
print(decimal_x, decimal_y)
print(decimal_x == decimal_y)  # True

0.3 0.3
True

In [11]:
'''
3. 불린형(Boolean):
참(True) 또는 거짓(False) 값을 가지는 데이터 타입입니다. 조건식의 결과로 사용될 수 있습니다.
'''

is_raining = True
has_license = False

print(type(is_raining), is_raining, type(has_license), has_license)

<class 'bool'> True <class 'bool'> False

In [13]:
'''
4. 문자열(String):
문자들의 시퀀스로 이루어진 데이터 타입입니다. 작은 따옴표('')나 큰 따옴표("")로 묶어서 표현합니다.
'''

name = "John Doe"
message = 'Hello, World!'

print(type(name), len(name), name)

<class 'str'> 8 John Doe

In [14]:
print(type(message), len(message), message)

<class 'str'> 13 Hello, World!

In [15]:
'''
5. 리스트(List):
여러 개의 요소들을 순서대로 저장하는 데이터 타입입니다. 대괄호([])로 묶어서 표현합니다.
'''

fruits = ["apple", "banana", "orange"]
numbers = [1, 2, 3, 4, 5]

print(type(fruits), len(fruits), fruits)

<class 'list'> 3 ['apple', 'banana', 'orange']

In [16]:
print(type(numbers), len(numbers), numbers)

<class 'list'> 5 [1, 2, 3, 4, 5]

In [17]:
example = ["apple", 1, True, 3.4]
print(example)

['apple', 1, True, 3.4]

In [19]:
numbers[0] = 3
numbers

[3, 2, 3, 4, 5]

In [18]:
'''
6. 튜플(Tuple):
리스트와 비슷하지만, 변경이 불가능한(immutable) 데이터 타입입니다. 괄호(())로 묶어서 표현합니다.
'''

coordinates = (10, 20)
colors = ("red", "green", "blue")

print(type(colors), len(colors), colors)

<class 'tuple'> 3 ('red', 'green', 'blue')

In [20]:
colors[0] = "black"

TypeError: 'tuple' object does not support item assignment

In [21]:
'''
7. 딕셔너리(Dictionary):
키와 값의 쌍으로 이루어진 데이터 타입입니다. 중괄호({})로 묶어서 표현하며, 각 키와 값은 콜론(:)으로 구분합니다.
'''

student = {"name": "Alice", "age": 23, "major": "Computer Science"}
scores = {"math": 90, "english": 85, "science": 95}

In [22]:
student

{'name': 'Alice', 'age': 23, 'major': 'Computer Science'}

In [23]:
student['name']

'Alice'

In [25]:
len(student)

3

In [26]:
student.keys()

dict_keys(['name', 'age', 'major'])

In [27]:
student.values()

dict_values(['Alice', 23, 'Computer Science'])

In [28]:
student.items()

dict_items([('name', 'Alice'), ('age', 23), ('major', 'Computer Science')])

In [29]:
student["name"] = "Tom"
student

{'name': 'Tom', 'age': 23, 'major': 'Computer Science'}

In [30]:
del student["age"]

In [31]:
student

{'name': 'Tom', 'major': 'Computer Science'}

In [32]:
'''
8. 집합(Set):
중복되지 않는 요소들로 구성된 데이터 타입입니다. 중괄호({})로 묶어서 표현합니다.
'''

unique_numbers = {1, 2, 3, 4, 5}
fruits_set = {"apple", "banana", "orange"}

In [33]:
type(unique_numbers)

set

In [34]:
len(unique_numbers)

5

In [35]:
a = {1,2,3,4,5}
b = set([4,5,6,7,8])
c = set(range(7,10))
a, type(a), b, type(b), c, type(c)

({1, 2, 3, 4, 5}, set, {4, 5, 6, 7, 8}, set, {7, 8, 9}, set)

In [36]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [37]:
a.intersection(b)

{4, 5}

In [39]:
set([1,1,1,2,3,3])

{1, 2, 3}

# 파이썬 연산자

In [40]:
"""
1. 산술 연산자 (Arithmetic Operators):

사칙연산을 수행하는 연산자입니다.
"""

x = 10
y = 3

add_result = x + y   # 덧셈
sub_result = x - y   # 뺄셈
mul_result = x * y   # 곱셈
div_result = x / y   # 나눗셈 (결과가 실수형으로 나옴)
int_div_result = x // y  # 나눗셈 (결과가 정수형으로 나옴)
mod_result = x % y   # 나머지
pow_result = x ** y  # 거듭제곱

In [41]:
x+ y

13

In [42]:
x-y

7

In [43]:
x//y

3

In [44]:
10**3

1000

In [45]:
"""
2. 할당 연산자 (Assignment Operators):

변수에 값을 할당하는 연산자입니다.
"""

x = 10   # 변수 x에 10을 할당
y = 5    # 변수 y에 5를 할당

x += y   # x = x + y 와 동일
x -= y   # x = x - y 와 동일
x *= y   # x = x * y 와 동일
x /= y   # x = x / y 와 동일
x %= y   # x = x % y 와 동일
x **= y  # x = x ** y 와 동일

In [46]:
"""
3. 비교 연산자 (Comparison Operators):

값들을 비교하여 참(True) 또는 거짓(False)을 반환하는 연산자입니다.
"""

x = 10
y = 5

is_equal = x == y      # x와 y가 같은지 비교
is_not_equal = x != y  # x와 y가 다른지 비교
is_greater = x > y     # x가 y보다 큰지 비교
is_less = x < y        # x가 y보다 작은지 비교
is_greater_equal = x >= y  # x가 y보다 크거나 같은지 비교
is_less_equal = x <= y     # x가 y보다 작거나 같은지 비교

In [47]:
x == y

False

In [48]:
x != y

True

In [49]:
"""
4. 논리 연산자 (Logical Operators):

논리적인 연산을 수행하여 참(True) 또는 거짓(False)을 반환하는 연산자입니다.
"""

x = True
y = False

logical_and = x and y  # 논리 AND (x와 y 모두 참일 때만 True, 그 외에는 False)
logical_or = x or y    # 논리 OR (x나 y 둘 중 하나라도 참이면 True, 둘 다 거짓이면 False)
logical_not_x = not x  # 논리 NOT (x가 참이면 False, 거짓이면 True)
logical_not_y = not y  # 논리 NOT (y가 참이면 False, 거짓이면 True)

In [50]:
x and y

False

In [51]:
True and True

True

In [52]:
"""
5. 멤버십 연산자 (Membership Operators):

특정 값이 컨테이너(리스트, 튜플, 집합 등)에 포함되어 있는지 여부를 확인하는 연산자입니다.
"""

numbers = [1, 2, 3, 4, 5]

is_in_list = 3 in numbers     # 3이 numbers 리스트에 포함되어 있는지 확인
is_not_in_list = 6 not in numbers  # 6이 numbers 리스트에 포함되어 있지 않은지 확인

In [53]:
is_in_list

True

In [55]:
6 in numbers

False

In [54]:
is_not_in_list

True

In [56]:
"""
6. 식별 연산자 (Identity Operators):

객체의 메모리 주소를 비교하여 두 객체가 같은 객체인지 여부를 확인하는 연산자입니다.
"""

x = [1, 2, 3]
y = [1, 2, 3]
z = x

is_x_same_as_y = x is y      # x와 y가 같은 객체인지 확인
is_x_not_same_as_y = x is not y  # x와 y가 다른 객체인지 확인
is_x_same_as_z = x is z      # x와 z가 같은 객체인지 확인

In [57]:
x is y

False

In [58]:
x is z

True

In [59]:
x == y

True

In [60]:
"""
7. 삼항 연산자 (Ternary Operator):

조건식을 간단하게 표현하는데 사용되는 연산자입니다.
(조건식)? A: B
A if (조건식) else B
"""

x = 10
y = 5

# max_value = (x>y)? x: y
max_value = x if x > y else y      # x와 y 중에서 더 큰 값을 선택
is_positive = "Positive" if x > 0 else "Non-positive"  # x가 양수인지 확인

In [61]:
max_value

10

In [63]:
x = -1

In [64]:
"Positive" if x > 0 else "not-postive"

'not-postive'

In [ ]:
"""
8. 증감 연산자 (Increment and Decrement Operators):

파이썬은 증가(increment)와 감소(decrement) 연산자인 ++와 --를 지원하지 않습니다. 
대신에 +=와 -=를 사용하여 변수 값을 증가시키거나 감소시킬 수 있습니다.
"""

x = 5

x += 1  # x의 값을 1 증가시킴
x -= 1  # x의 값을 1 감소시킴

In [ ]:
"""
9. 식별 연산자 (Identity Operators):

객체의 메모리 주소를 비교하여 두 객체가 같은 객체인지 여부를 확인하는 연산자입니다.
"""

x = [1, 2, 3]
y = [1, 2, 3]
z = x

is_x_same_as_y = x is y      # x와 y가 같은 객체인지 확인
is_x_not_same_as_y = x is not y  # x와 y가 다른 객체인지 확인
is_x_same_as_z = x is z      # x와 z가 같은 객체인지 확인

In [ ]:
"""
10. 비트 연산자 (Bitwise Operators):

비트 단위로 연산을 수행하는 연산자입니다.
"""
x = 10  # 10은 이진수로 1010
y = 5   # 5는 이진수로 0101

bitwise_and = x & y   # 비트 AND (1010 & 0101 = 0000)
bitwise_or = x | y    # 비트 OR (1010 | 0101 = 1111)
bitwise_xor = x ^ y   # 비트 XOR (1010 ^ 0101 = 1111)
bitwise_not_x = ~x    # 비트 NOT (~1010 = 0101)
left_shift = x << 1   # 비트 좌측 시프트 (1010 << 1 = 10100)
right_shift = x >> 1  # 비트 우측 시프트 (1010 >> 1 = 0101)

# 시퀀스자료형 (Sequence)

## 개요

파이썬에서 시퀀스 자료형은 데이터들을 순서대로 나열하는 형태를 말합니다. 시퀀스 자료형은 여러 개의 원소(element)로 구성되어 있으며, 각 원소들은 순서(인덱스)를 가지고 있습니다. 파이썬에서 가장 많이 사용되는 시퀀스 자료형으로는 `리스트(list)`, `튜플(tuple)`, `문자열(string)`등 이 있습니다

## 주요특징

In [65]:
"""
1. 인덱싱 (Indexing):

시퀀스 자료형은 각 원소에 인덱스를 사용하여 접근할 수 있습니다. 인덱스는 0부터 시작합니다.
"""

fruits = ["apple", "banana", "orange"]

print(fruits[0])   # "apple"
print(fruits[2])   # "orange"

apple
orange

In [66]:
"""
1-1. 값 할당 (Assigning a Value):

시퀀스 자료형의 특정 인덱스에 값을 할당하여 원소를 변경할 수 있습니다.
"""
fruits = ["apple", "banana", "orange"]

# 인덱스 1에 있는 "banana"를 "grape"로 변경
fruits[1] = "grape"

In [67]:
fruits

['apple', 'grape', 'orange']

In [68]:
"""
1-2. 값삽입 (Insertion):

insert() 메서드를 사용하여 원하는 위치에 새로운 값을 삽입할 수 있습니다.
"""
fruits = ["apple", "banana", "orange"]

# 인덱스 1에 "grape"를 삽입
fruits.insert(1, "grape")

In [69]:
fruits

['apple', 'grape', 'banana', 'orange']

In [70]:
"""
1-3. 삭제 (Deletion):

del 키워드를 사용하여 특정 인덱스의 원소를 삭제할 수 있습니다.
"""
fruits = ["apple", "banana", "orange"]

# 인덱스 1에 있는 "banana"를 삭제
del fruits[1]

In [71]:
fruits

['apple', 'orange']

In [72]:
"""
1-4. 값 삭제 (Remove Value):

remove() 메서드를 사용하여 특정 값을 찾아서 삭제할 수 있습니다. 주의할 점은 해당 값이 여러 번 나타나면 첫 번째로 나타나는 값만 삭제됩니다.
"""
fruits = ["apple", "banana", "orange", "banana"]

# "banana" 값을 삭제 (첫 번째로 나타나는 "banana"만 삭제됨)
fruits.remove("banana")

In [73]:
fruits

['apple', 'orange', 'banana']

In [77]:
"""
2. 슬라이싱 (Slicing):

슬라이싱을 통해 시퀀스 자료형의 일부분을 추출할 수 있습니다. 인덱스 범위를 지정하여 원하는 부분을 가져올 수 있습니다.
[시작:끝:증가폭]
"""

numbers = [1, 2, 3, 4, 5]

print(numbers[1:4])   # [2, 3, 4] (인덱스 1부터 3까지의 원소)
print(numbers[:3])    # [1, 2, 3] (인덱스 0부터 2까지의 원소)
print(numbers[3:])    # [4, 5] (인덱스 3부터 끝까지의 원소)
print(numbers[:3:2])  # [1, 3] (인덱스 0부터 3까지의 원소, 증가폭을 2로)

[2, 3, 4]
[1, 2, 3]
[4, 5]
[1, 3]

In [78]:
numbers[1,2,4]

TypeError: list indices must be integers or slices, not tuple

In [79]:
""" 
리스트의 슬라이싱 추가 예제
"""
fruits = ["apple", "banana", "orange", "grape", "kiwi"]

In [80]:
fruits

['apple', 'banana', 'orange', 'grape', 'kiwi']

In [81]:
fruits[-1]

'kiwi'

In [82]:
fruits[:-3]

['apple', 'banana']

In [83]:
fruits[-3:]

['orange', 'grape', 'kiwi']

In [84]:
"""
string의 슬라이싱 예제
"""
message = "Hello, World!"

In [85]:
message

'Hello, World!'

In [86]:
message[:2]

'He'

In [87]:
message[2:]

'llo, World!'

In [88]:
"""
슬라이싱을 이용한 일괄 삭제:

슬라이싱을 사용하여 여러 개의 원소를 한 번에 삭제할 수 있습니다.
"""
fruits = ["apple", "banana", "orange", "grape", "kiwi"]

# 인덱스 1부터 3까지의 원소 삭제
del fruits[1:4]

In [89]:
fruits

['apple', 'kiwi']

In [90]:
"""
모든 원소 삭제:

시퀀스 자료형의 모든 원소를 삭제할 때는 슬라이싱을 활용합니다
"""
fruits = ["apple", "banana", "orange"]

# 모든 원소 삭제
fruits[:] = []   # fruits = [] 와의 차이점은?

In [91]:
"""
3. 길이 확인 (Length):

len() 함수를 사용하여 시퀀스 자료형의 원소 개수를 확인할 수 있습니다.
"""
name = "Alice"
fruits = ["apple", "banana", "orange"]

print(len(name))    # 5 (문자열 name의 길이)
print(len(fruits))  # 3 (리스트 fruits의 원소 개수)

5
3

In [92]:
"""
4. 반복 (Repetition):

시퀀스 자료형은 * 연산자를 사용하여 반복할 수 있습니다.
"""
message = "Hello, "
repeat_count = 3

result = message * repeat_count

In [93]:
result

'Hello, Hello, Hello, '

In [94]:
a = [1,2,3]

In [96]:
print(a * 10)

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [97]:
"""
5. 연결 (Concatenation):

시퀀스 자료형은 + 연산자를 사용하여 연결할 수 있습니다.
"""
first_list = [1, 2, 3]
second_list = [4, 5, 6]

combined_list = first_list + second_list

In [98]:
combined_list

[1, 2, 3, 4, 5, 6]

## 시퀀스 자료형의 공통함수

이러한 함수들은 모든 시퀀스 자료형(list, tuple, 문자열 등)에서 사용 가능하며, 데이터를 다루고 처리하는데 유용하게 활용됩니다.

|이름|설명|
|--|--|
|len(sequence)|시퀀스 자료형의 원소 개수를 반환합니다.|
|min(sequence)|시퀀스 자료형의 최소값을 반환합니다. (시퀀스가 숫자인 경우에만 사용 가능)|
|max(sequence)|시퀀스 자료형의 최대값을 반환합니다. (시퀀스가 숫자인 경우에만 사용 가능)|
|sum(sequence)|시퀀스 자료형의 모든 원소를 합산하여 반환합니다. (시퀀스가 숫자인 경우에만 사용 가능)|
|sorted(sequence)|시퀀스 자료형의 원소들을 정렬하여 새로운 리스트로 반환합니다. (원본 시퀀스는 변경되지 않습니다.)|
|reversed(sequence)|시퀀스 자료형의 원소들을 역순으로 정렬하여 새로운 iterator로 반환합니다. (원본 시퀀스는 변경되지 않습니다.)|
|count(value)|시퀀스 자료형에서 특정 값의 개수를 반환합니다.|
|index(value)|시퀀스 자료형에서 특정 값의 인덱스를 반환합니다. (첫 번째로 나타나는 값의 인덱스를 반환합니다.)|
|join(iterable)|문자열 시퀀스를 합쳐서 하나의 문자열로 반환합니다. (문자열의 리스트를 이어붙일 때 사용됩니다.)|
|enumerate(sequence)|시퀀스 자료형의 원소들과 인덱스를 함께 반환하는 enumerate 객체를 생성합니다.|
|zip(*sequences)|여러 시퀀스 자료형들을 병렬로 묶어서 새로운 tuple의 iterator로 반환합니다.|
|any(iterable)|시퀀스 자료형의 원소 중 하나라도 참(True)인 값이 있으면 True를 반환합니다.|
|all(iterable)|시퀀스 자료형의 모든 원소가 참(True)인 값이면 True를 반환합니다.|
|slice(start, stop, step)|슬라이스 객체를 생성합니다. 시퀀스 자료형을 슬라이싱할 때 사용됩니다.|

In [111]:
a = [1,2,3,4,5,5,7,6]

In [112]:
max(a)

7

In [113]:
min(a)

1

In [114]:
sum(a)

33

In [115]:
a.index(6)

7

In [116]:
a.count(5)

2

### ==, != 연산자: 

두 개의 시퀀스가 같은지 여부를 확인합니다.  
`==` 연산자는 원소들의 값이 모두 같을 때 `True`를 반환하며,  
`!=` 연산자는 값이 다를 때 `True`를 반환합니다.

In [117]:
# 리스트 생성
list1 = [1, 2, 3]
list2 = [1, 2, 3]
list3 = [3, 2, 1]

# == 연산자: 두 리스트의 요소가 동일한지 비교
print("list1 == list2:", list1 == list2)  # True, 리스트 내용이 같으므로 True 출력
print("list1 == list3:", list1 == list3)  # False, 리스트 내용이 다르므로 False 출력

# != 연산자: 두 리스트의 요소가 다른지 비교
print("list1 != list2:", list1 != list2)  # False, 리스트 내용이 같으므로 False 출력
print("list1 != list3:", list1 != list3)  # True, 리스트 내용이 다르므로 True 출력

list1 == list2: True
list1 == list3: False
list1 != list2: False
list1 != list3: True

## 시퀀스 자료형 관련 주요 내장함수

### map()

파이썬의 `map()` 함수는 주어진 함수를 시퀀스(리스트, 튜플 등)의 각 요소에 적용하여 새로운 이터레이터를 반환하는 함수입니다.  
이 새로운 이터레이터는 원본 시퀀스의 각 요소를 변환한 결과를 담고 있습니다.  
map()` 함수는 반복적인 작업을 단순화하고 코드를 더 간결하게 만드는 데 도움이 됩니다.

```python
map(function, iterable, ...)```

In [123]:
numbers = [1, 2, 3, 4, 5]

In [124]:
index = 0
for number in numbers:
    numbers[index] = number**2
    index += 1

In [125]:
numbers

[1, 4, 9, 16, 25]

In [126]:
numbers = [1, 2, 3, 4, 5]
list(map(lambda x: x**2, numbers))

[1, 4, 9, 16, 25]

In [127]:
a = "1"

In [128]:
type(a)

str

In [130]:
b = int(a)

In [131]:
b

1

In [132]:
type(b)

int

In [135]:
values = ["1","2","3"]
values2 = list(map(int, values))

In [137]:
print(values)

['1', '2', '3']

In [136]:
print(values2)

[1, 2, 3]

### filter()

파이썬의 `filter()` 함수는 주어진 함수를 시퀀스의 각 요소에 적용하여 조건을 만족하는 요소들로 이루어진 이터레이터를 반환하는 함수입니다.  
이 함수를 사용하면 시퀀스 내에서 `특정 조건`을 만족하는 요소들만 걸러낼 수 있습니다.

```python
filter(function, iterable)
```

In [138]:
numbers = [1,2,3,4,5]

In [140]:
def odd(x):
    if x % 2 == 0:
        return False
    else:
        return True

In [142]:
list(filter(odd, numbers))

[1, 3, 5]

In [143]:
def odd2(x):
    return True if x%2==1 else False

In [144]:
list(filter(odd2, numbers))

[1, 3, 5]

## 정렬 - sorted()

`sorted()` 함수는 `시퀀스(리스트, 튜플 등)`의 요소를 정렬하여 `새로운 리스트`를 반환하는 파이썬 내장 함수입니다.  
이 함수를 사용하여 숫자, 문자열 또는 다른 객체를 원하는 순서로 정렬할 수 있습니다.

```python
sorted(iterable, key=None, reverse=False)
```

In [145]:
numbers = [5, 2, 8, 1, 3]

In [146]:
sorted(numbers)

[1, 2, 3, 5, 8]

In [147]:
sorted(numbers, reverse=True)

[8, 5, 3, 2, 1]

In [148]:


# 오름차순으로 정렬
sorted_numbers_asc = sorted(numbers)
print(sorted_numbers_asc)  # [1, 2, 3, 5, 8]

# 내림차순으로 정렬
sorted_numbers_desc = sorted(numbers, reverse=True)
print(sorted_numbers_desc)  # [8, 5, 3, 2, 1]

fruits = ["apple", "banana", "cherry", "date"]

# 문자열 길이를 기준으로 정렬
sorted_fruits_by_length = sorted(fruits, key=len)
print(sorted_fruits_by_length)  # ['date', 'apple', 'banana', 'cherry']

[1, 2, 3, 5, 8]
[8, 5, 3, 2, 1]
['date', 'apple', 'banana', 'cherry']

## dictionary 정렬

파이썬에서 딕셔너리를 정렬하는 방법은 여러 가지가 있습니다.  
딕셔너리를 정렬할 때는 주로 `sorted()` 함수나 `items()` 메서드를 활용합니다.

In [149]:
my_dict = {'cherry': 8, 'apple': 5, 'banana': 2 }

In [150]:
my_dict

{'cherry': 8, 'apple': 5, 'banana': 2}

In [152]:
my_dict.items()

dict_items([('cherry', 8), ('apple', 5), ('banana', 2)])

In [153]:
dict(sorted(my_dict.items()))

{'apple': 5, 'banana': 2, 'cherry': 8}

In [ ]:
"""
1. 딕셔너리의 키(key)를 기준으로 정렬:
"""
dict(sorted(my_dict.items()))

In [155]:
dict(sorted(my_dict.items(), key=lambda item: item[1], reverse=True ))

{'cherry': 8, 'apple': 5, 'banana': 2}

# 출력 형식
파이썬에서 문자열(string)을 출력할 때에는 다양한 형식을 사용할 수 있습니다.  
주요한 출력 형식들과 그에 대한 예제를 설명하겠습니다:

In [156]:
"""
일반적인 문자열 출력:
"""

name = "Alice"
print("Hello, " + name + "!")  # Hello, Alice!

Hello, Alice!

In [157]:
"""
f-string (Formatted String Literal) 사용:
"""

name = "Bob"
age = 30
print(f"My name is {name} and I am {age} years old.")  # My name is Bob and I am 30 years old.

My name is Bob and I am 30 years old.

In [158]:
"""
str.format() 메서드 사용:
"""

name = "Carol"
age = 25
print("My name is {} and I am {} years old.".format(name, age))  # My name is Carol and I am 25 years old.

My name is Carol and I am 25 years old.

In [159]:
"""
% 연산자를 사용한 형식 지정:
"""

name = "David"
age = 35
print("My name is %s and I am %d years old." % (name, age))  # My name is David and I am 35 years old.

My name is David and I am 35 years old.

In [160]:
"""
소수점 자릿수 지정:
"""

pi = 3.141592653589793
print(f"The value of pi is approximately {pi:.2f}")  # The value of pi is approximately 3.14

The value of pi is approximately 3.14

In [161]:
"""
정수형 출력
"""

num = 123
print(f"right:{num:5d}, left:{num:<5d}, fill_zero:{num:05d}")

right:  123, left:123  , fill_zero:00123

In [167]:
"""
문자열 분리(join)와 분할(split):
"""

fruits = "apple,banana,orange"
fruits_list = fruits.split(',')
print(fruits_list)  # ['apple', 'banana', 'orange']

separator = '-'
print(separator.join(fruits_list))  # apple-banana-orange

['apple', 'banana', 'orange']
apple-banana-orange

In [162]:
fruits = "apple,banana,orange"
fruits_list = fruits.split(',')

In [163]:
fruits_list

['apple', 'banana', 'orange']

In [164]:
fruits = "apple banana orange"

In [165]:
fruits.split(" ")

['apple', 'banana', 'orange']

In [166]:
fruits.split()

['apple', 'banana', 'orange']

# 조건문

파이썬 조건문은 아래의 형식으로 작성해야 합니다.  
- `if` 가 포함된 라인의 끝에는 `:`(콜론) 으로
- `if` 조건절 아래쪽에는 동일한 `indent` 필요 

```python
if 조건:
    # 조건이 만족할 때 실행할 코드 블록
```

In [175]:
'''
단순한 if문:
'''

x = 10

if x > 0:
    print("x는 양수입니다.")

x는 양수입니다.

In [ ]:
'''
if-else문:
'''

x = -5

if x > 0:
    print("x는 양수입니다.")
else:
    print("x는 음수 또는 0입니다.")

In [176]:
'''
if-elif-else문:
'''

x = 0

if x > 0:
    print("x는 양수입니다.")
elif x < 0:
    print("x는 음수입니다.")
else:
    print("x는 0입니다.")

x는 0입니다.

In [177]:
'''
중첩된 조건문:
'''

x = 85

if x >= 90:
    if x == 100:
        print("A+입니다.")
    else:
        print("A입니다.")
elif x >= 80:
    print("B입니다.")
elif x >= 70:
    print("C입니다.")
else:
    print("D입니다.")

B입니다.