# Pandas


Pandas는 파이썬 프로그래밍 언어를 위한 데이터 조작과 분석을 위한 라이브러리로, 구조화된 데이터를 쉽게 조작하고 처리할 수 있도록 다양한 기능과 데이터 구조를 제공합니다. 주로 표 형태의 데이터를 다루는데 특화되어 있으며, 데이터프레임(DataFrame)이라는 자료형을 제공하여 이러한 표 형태의 데이터를 효과적으로 다룰 수 있습니다. Pandas는 NumPy를 기반으로 만들어져 있기 때문에 NumPy와 함께 사용하는 경우가 많습니다.

Pandas의 주요 특징과 기능은 다음과 같습니다:

DataFrame: Pandas는 DataFrame이라는 자료형을 제공하여 표 형태의 데이터를 쉽게 다룰 수 있습니다. DataFrame은 2차원 테이블 형태로, 행과 열로 구성되어 있으며, 각 열은 서로 다른 데이터 타입을 가질 수 있습니다.

데이터 조작: Pandas는 데이터를 쉽게 필터링, 정렬, 그룹화, 합치기 등 다양한 조작을 할 수 있는 기능을 제공합니다. 이를 통해 데이터를 효율적으로 처리하고 분석할 수 있습니다.

누락된 데이터 처리: Pandas는 누락된 데이터(NaN)를 쉽게 처리할 수 있는 기능을 제공합니다. 누락된 데이터를 효율적으로 다룰 수 있어 데이터의 빠른 전처리가 가능합니다.

데이터 시각화: Pandas는 데이터를 시각화하는 기능을 제공하며, Matplotlib와 함께 사용하여 다양한 차트와 플롯을 그릴 수 있습니다.

데이터 파일 입출력: Pandas는 CSV, Excel, SQL, JSON 등 다양한 파일 형식으로 데이터를 읽고 쓸 수 있는 기능을 제공합니다.

Pandas는 데이터 과학 및 데이터 분석 분야에서 매우 인기 있는 라이브러리이며, 데이터 전처리, 데이터 분석, 데이터 시각화 등 다양한 작업에 활용됩니다. Pandas를 사용하면 복잡한 데이터를 쉽게 다룰 수 있고, 데이터 분석과 관련된 작업을 더욱 효율적으로 수행할 수 있습니다.

판다스의 두 가지 핵심 자료구조인 Series와 DataFrame에 대해 설명하겠습니다:


판다스(Pandas)는 파이썬의 데이터 조작과 분석을 위한 라이브러리로, 표 형태의 데이터를 다루는데 특화되어 있습니다. 판다스의 두 가지 핵심 자료구조인 Series와 DataFrame에 대해 설명하겠습니다:

Series:
판다스의 Series는 1차원 레이블된 배열로, NumPy의 1차원 배열과 유사한 구조를 가지고 있습니다. Series는 인덱스(index)와 값(value)으로 구성되어 있으며, 각 값은 해당하는 인덱스와 매핑됩니다. Series는 일반적으로 하나의 데이터 타입으로 구성되어 있습니다.

In [1]:
import pandas as pd

# Series 생성
data = pd.Series([10, 20, 30, 40, 50])
print(data)

# 출력:
# 0    10
# 1    20
# 2    30
# 3    40
# 4    50
# dtype: int64

0    10
1    20
2    30
3    40
4    50
dtype: int64

DataFrame:
판다스의 DataFrame은 2차원 테이블 형태의 데이터 구조로, 행과 열로 이루어져 있습니다. DataFrame은 여러 개의 Series로 구성되어 있으며, 각 Series는 하나의 열(column)을 나타냅니다. DataFrame은 여러 데이터 타입을 포함할 수 있으며, 각 열은 서로 다른 데이터 타입을 가질 수 있습니다.

In [2]:
import pandas as pd

# DataFrame 생성
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'Score': [85.5, 92.0, 78.5]
}

df = pd.DataFrame(data)
print(df)

# 출력:
#       Name  Age  Score
# 0    Alice   25   85.5
# 1      Bob   30   92.0
# 2  Charlie   35   78.5

      Name  Age  Score
0    Alice   25   85.5
1      Bob   30   92.0
2  Charlie   35   78.5

## Series 생성

In [3]:
"""
리스트를 활용한 Series 생성:
"""
import pandas as pd

# 리스트를 사용하여 Series 생성
data = [10, 20, 30, 40, 50]
s = pd.Series(data)
print(s)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [ ]:
"""
딕셔너리를 활용한 Series 생성:
"""
import pandas as pd

# 딕셔너리를 사용하여 Series 생성
data = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
s = pd.Series(data)
print(s)

In [ ]:
"""
NumPy 배열을 활용한 Series 생성:
"""
import pandas as pd
import numpy as np

# NumPy 배열을 사용하여 Series 생성
data = np.array([10, 20, 30, 40, 50])
s = pd.Series(data)
print(s)

In [ ]:
"""
스칼라 값과 인덱스를 활용한 Series 생성:
"""
import pandas as pd

# 스칼라 값과 인덱스를 사용하여 Series 생성
s = pd.Series(5, index=['a', 'b', 'c', 'd', 'e'])
print(s)

## Series와 index

Series의 인덱스(Index)는 Pandas의 1차원 레이블된 배열로, 각 값에 대한 고유한 식별자(identifier)를 제공합니다. Series의 인덱스는 각 원소에 접근하고 식별하는 데 사용되며, 행의 레이블로 사용됩니다. 인덱스는 레이블, 숫자, 날짜, 문자열 등의 다양한 데이터 타입을 가질 수 있습니다.

In [12]:
"""
기본 인덱스:
기본 인덱스는 0부터 시작하는 정수로 자동으로 생성됩니다.
"""
import pandas as pd

# 리스트를 사용하여 Series 생성 (기본 인덱스)
data = [10, 20, 30, 40, 50]
s = pd.Series(data)
print(s)
print(s.index)

0    10
1    20
2    30
3    40
4    50
dtype: int64
RangeIndex(start=0, stop=5, step=1)

In [14]:
"""
사용자 정의 인덱스:
사용자 정의 인덱스는 특정 값을 사용자가 직접 지정할 수 있습니다.
"""
import pandas as pd

# 딕셔너리를 사용하여 Series 생성 (사용자 정의 인덱스)
data = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
s = pd.Series(data)
print(s)
print(s.index)

a    10
b    20
c    30
d    40
dtype: int64
Index(['a', 'b', 'c', 'd'], dtype='object')

In [ ]:
"""
index 파라미터 활용
"""
import pandas as pd

# Series 생성
data = [10, 20, 30, 40, 50]
index = ['A', 'B', 'C', 'D', 'E']
s = pd.Series(data, index=index)
print(s)
print(s.index)

## index를 활용하여 데이터 접근

In [89]:
"""
인덱스 레이블을 사용하여 접근:
"""
import pandas as pd

# Series 생성
data = [10, 20, 30, 40, 50]
index = ['A', 'B', 'C', 'D', 'E']
s = pd.Series(data, index=index)

# 인덱스 레이블을 사용하여 값에 접근
print(s['B'])  # 레이블 'B'에 해당하는 값에 접근

20

In [90]:
"""
인덱스 레이블을 사용하여 접근:
"""
import pandas as pd

# Series 생성
data = [10, 20, 30, 40, 50]
index = ['A', 'B', 'C', 'D', 'E']
s = pd.Series(data, index=index)

# 인덱스 레이블을 사용하여 값에 접근
print(s.loc['B'])  # 레이블 'B'에 해당하는 값에 접근

20

In [92]:
"""
정수 인덱스를 사용하여 접근:
"""
import pandas as pd

# Series 생성
data = [10, 20, 30, 40, 50]
index = ['A', 'B', 'C', 'D', 'E']
s = pd.Series(data, index=index)

# 정수 인덱스를 사용하여 값에 접근
print(s[2])  # 정수 인덱스 2에 해당하는 값에 접근 (레이블 'C'와 동일)

30

In [91]:
"""
정수 인덱스를 사용하여 접근:
"""
import pandas as pd

# Series 생성
data = [10, 20, 30, 40, 50]
index = ['A', 'B', 'C', 'D', 'E']
s = pd.Series(data, index=index)

# 정수 인덱스를 사용하여 값에 접근
print(s.iloc[2])  # 정수 인덱스 2에 해당하는 값에 접근 (레이블 'C'와 동일)

30

## 값 추가

In [94]:
"""
인덱스를 이용한 값추가
"""
import pandas as pd

# 시리즈 생성
data = [10, 20, 30, 40]
index = [0, 1, 2, 3]
s = pd.Series(data, index=index)

# loc[] 인덱서를 사용하여 값 추가
s.loc[4] = 50
print(s)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [97]:
"""
append() 메소드를 사용한 값 추가:
"""
import pandas as pd

# 시리즈 생성
data = [10, 20, 30, 40]
index = [0, 1, 2, 3]
s = pd.Series(data, index=index)
s1 = s

# append() 메소드를 사용하여 값 추가
# s = s.append(pd.Series([50], index=[4]))

s2 = s
print(s)

0    10
1    20
2    30
3    40
dtype: int64

## Series간 연산

Pandas Series간의 연산은 인덱스를 기준으로 자동으로 맞춰서 수행되기 때문에 데이터의 크기가 다르더라도 연산이 가능합니다. 또한 브로드캐스팅 기능을 지원하여 Series와 스칼라(단일 값) 간의 연산도 가능합니다. 예제를 통해 Pandas Series 간의 연산을 설명하겠습니다:

python

In [99]:
"""
덧셈
"""
import pandas as pd

# Series 생성
s1 = pd.Series([10, 20, 30], index=['A', 'B', 'C'])
s2 = pd.Series([5, 15, 25], index=['B', 'C', 'D'])

# 두 Series 간의 덧셈
result_add = s1 + s2

In [101]:
"""
뺄샘
"""
result_sub = s1 - s2

In [102]:
"""
스칼라와의 연산
"""

s1*2

A    20
B    40
C    60
dtype: int64

## concat

In [104]:
"""
concat
"""
import pandas as pd

# Series 생성
s1 = pd.Series([10, 20, 30], index=['A', 'B', 'C'])
s2 = pd.Series([5, 15, 25], index=['B', 'C', 'D'])

s3 = pd.concat([s1, s2])

In [105]:
s3

A    10
B    20
C    30
B     5
C    15
D    25
dtype: int64

## series의 이름과 설정 변경

In [ ]:
"""
Series의 이름 설정 및 변경:
"""
import pandas as pd

# Series 생성
data = [10, 20, 30, 40, 50]
index = ['A', 'B', 'C', 'D', 'E']
s = pd.Series(data,  index=index)

# Series 이름 설정
s.name = 'SampleData'
print(s)

In [ ]:
"""
Series의 인덱스 이름 설정 및 변경:
"""
import pandas as pd

# Series 생성
data = [10, 20, 30, 40, 50]
index = ['A', 'B', 'C', 'D', 'E']
s = pd.Series(data, index=index)

# Series의 인덱스 이름 설정
s.index.name = 'Alphabet'
print(s)

# 출력:
# Alphabet
# A    10
# B    20
# C    30
# D    40
# E    50
# dtype: int64

# Series의 인덱스 이름 변경
s.index.name = 'Index'
print(s)

# Dataframe

In [17]:
"""
딕셔너리를 활용한 데이터프레임 생성:
"""
import pandas as pd

# 딕셔너리를 사용하여 데이터프레임 생성
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'Score': [85.5, 92.0, 78.5]
}

df = pd.DataFrame(data)

In [18]:
df

      Name  Age  Score
0    Alice   25   85.5
1      Bob   30   92.0
2  Charlie   35   78.5

In [19]:
"""
리스트의 리스트를 활용한 데이터프레임 생성:
"""
import pandas as pd

# 리스트의 리스트를 사용하여 데이터프레임 생성
data = [
    ['Alice', 25, 85.5],
    ['Bob', 30, 92.0],
    ['Charlie', 35, 78.5]
]

columns = ['Name', 'Age', 'Score']
df = pd.DataFrame(data, columns=columns)

In [20]:
"""
딕셔너리의 리스트를 활용한 데이터프레임 생성:
"""
import pandas as pd

# 리스트의 리스트를 사용하여 데이터프레임 생성
data = [
    {'name':'Alice', 'Age':25, 'Score':85.5},
    {'name':'Bob', 'Age':30, 'Score':92.0},
    {'name':'Charlie', 'Age':35, 'Score':78.5}
]

df = pd.DataFrame(data)

In [21]:
df

      name  Age  Score
0    Alice   25   85.5
1      Bob   30   92.0
2  Charlie   35   78.5

In [ ]:
"""
NumPy 배열을 활용한 데이터프레임 생성:
"""
import pandas as pd
import numpy as np

# NumPy 배열을 사용하여 데이터프레임 생성
data = np.array([
    ['Alice', 25, 85.5],
    ['Bob', 30, 92.0],
    ['Charlie', 35, 78.5]
])

columns = ['Name', 'Age', 'Score']
df = pd.DataFrame(data, columns=columns)

In [87]:
"""
판다스 시리즈를 활용한 데이터프레임 생성 1
"""
import pandas as pd

# 시리즈 생성
names = pd.Series(['Alice', 'Bob', 'Charlie'], name="Name")
ages = pd.Series([25, 30, 35], name="Age")
scores = pd.Series([85.5, 92.0, 78.5], name="Score")

# 시리즈들을 리스트로 묶어서 데이터프레임 생성
df = pd.DataFrame([names, ages, scores]).transpose()

In [88]:
df

      Name Age Score
0    Alice  25  85.5
1      Bob  30  92.0
2  Charlie  35  78.5

In [86]:
"""
판다스 시리즈를 활용한 데이터프레임 생성 2
"""
import pandas as pd

# 시리즈 생성
names = pd.Series(['Alice', 'Bob', 'Charlie'])
ages = pd.Series([25, 30, 35])
scores = pd.Series([85.5, 92.0, 78.5])

# 데이터프레임 생성 (열 이름을 지정)
df = pd.DataFrame({
    'Name': names,
    'Age': ages,
    'Score': scores
})

In [80]:
"""
파일로 부터 읽어오기
"""
import pandas as pd

df = pd.read_csv("sample.csv", )

## Dataframe 내 단일 element 접근

Pandas DataFrame에서 개별 원소에 접근하는 방식에는 iloc[행, 열] 인덱서와 at[행, 열] 라벨 기반 인덱서 두 가지가 있습니다.

In [108]:
import pandas as pd

# DataFrame 생성
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'Score': [85.5, 92.0, 78.5]
}
df = pd.DataFrame(data)

In [109]:
""""
iloc[] 인덱서를 사용하여 원소에 접근
""""
element_1 = df.iloc[0, 1]  # 인덱스 0의 행, 인덱스 1의 열
element_2 = df.iloc[1, 2]  # 인덱스 1의 행, 인덱스 2의 열

In [113]:
type(element_1), type(element_2)

(numpy.int64, numpy.float64)

In [110]:
"""
at[] 라벨 기반 인덱서를 사용하여 원소에 접근
"""
element_3 = df.at[2, 'Name']  # 라벨 'Name'의 행 인덱스 2에 해당하는 값
element_4 = df.at[0, 'Age']   # 라벨 'Age'의 행 인덱스 0에 해당하는 값

## Dataframe 내 슬라이싱 기반 Series, DataFrame 추출
Pandas DataFrame에서 슬라이싱 기반 접근하는 방식에는 iloc[행, 열] 인덱서와 loc[행, 열] 라벨 기반 인덱서 두 가지가 있습니다.

In [26]:
import pandas as pd
import numpy as np
# DataFrame 생성
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [25, 30, 35, 28, 22],
    'Score': [85.5, 92.0, 78.5, 89.3, 95.1]
}
df = pd.DataFrame(data)
df = df.set_index(np.arange(101,106))

In [27]:
"""
iloc[] 슬라이싱을 통해 원소에 접근
첫 번째 행과 두 번째 행, 첫번째, 두번째 열에 해당하는 데이터 가져오기
"""
subset1 = df.iloc[0:2, 0:2]

In [28]:
type(subset1)

pandas.core.frame.DataFrame

In [29]:
# 추가 slicing 예제
df.iloc[:,0:2]
df.iloc[0:2, :]

      Name  Age  Score
101  Alice   25   85.5
102    Bob   30   92.0

In [30]:
df.iloc[:,0]

101      Alice
102        Bob
103    Charlie
104      David
105        Eva
Name: Name, dtype: object

In [31]:
df.iloc[:,:1]

        Name
101    Alice
102      Bob
103  Charlie
104    David
105      Eva

In [32]:
type(df.iloc[:,:1])

pandas.core.frame.DataFrame

In [33]:
# iloc[행] : iloc의 인자가 하나만 있을 경우 해당 행의 전체 열의 데이터
df.iloc[:2]

      Name  Age  Score
101  Alice   25   85.5
102    Bob   30   92.0

In [45]:
"""
loc[] 슬라이싱을 통해 원소에 접근
첫 번째 행과 두 번째 행, 'Name'과 'Score' 열에 해당하는 데이터 가져오기
"""
subset2 = df.loc[:"102", ['Name', 'Score']]  # label 인덱스의 경우 : 뒤에 있는 라벨도 포함

In [46]:
subset2

      Name  Score
101  Alice   85.5
102    Bob   92.0

In [47]:
# iloc[행] : loc의 인자가 하나만 있을 경우 해당 행의 전체 열의 데이터
df.loc[:"102"]

      Name  Age  Score
101  Alice   25   85.5
102    Bob   30   92.0

## Dataframe 내 슬라이싱 기반 Series
Pandas DataFrame에서 개별 원소에 접근하는 방식에는 iloc[행, 열] 인덱서와 loc[행 열] 라벨 기반 인덱서 두 가지가 있습니다.

In [48]:
"""
iloc[]을 사용하여 Series 추출:
"""

import pandas as pd

# DataFrame 생성
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [25, 30, 35, 28, 22],
    'Score': [85.5, 92.0, 78.5, 89.3, 95.1]
}
df = pd.DataFrame(data)

# iloc을 사용하여 Series 추출
row_index = 2
series_iloc = df.iloc[row_index]

In [131]:
# 특정 행을 Series로 1
df.iloc[2]

Name     Charlie
Age           35
Score       78.5
Name: 2, dtype: object

In [135]:
# 특정 행을 Series로 2
df.iloc[2, :2]

Name    Charlie
Age          35
Name: 2, dtype: object

In [139]:
# 특정 열을 series로 1
df.iloc[:,2]

0    85.5
1    92.0
2    78.5
3    89.3
4    95.1
Name: Score, dtype: float64

In [136]:
# 특정 열을 series로 2
df.iloc[2:,2]

2    78.5
3    89.3
4    95.1
Name: Score, dtype: float64

In [144]:
"""
loc[]을 사용하여 Series 추출:
"""

import pandas as pd

# DataFrame 생성
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [25, 30, 35, 28, 22],
    'Score': [85.5, 92.0, 78.5, 89.3, 95.1]
}
df = pd.DataFrame(data)

# loc를 사용하여 Series 추출
row_label = 3
series_loc = df.loc[row_label]

In [152]:
df

      Name  Age  Score
0    Alice   25   85.5
1      Bob   30   92.0
2  Charlie   35   78.5
3    David   28   89.3
4      Eva   22   95.1

In [153]:
# 특정 행을 Series로 - 1
df.loc[0]

Name     Alice
Age         25
Score     85.5
Name: 0, dtype: object

In [147]:
# 특정 행을 Series로 - 2
df.loc[0, "Age":"Score"]

Age        25
Score    85.5
Name: 0, dtype: object

In [148]:
# 특정 열을 Series로 - 1
df.loc[:,"Age"]

0    25
1    30
2    35
3    28
4    22
Name: Age, dtype: int64

In [156]:
# 특정 열을 Series로 - 1
df.loc[0:2,"Age"]

0    25
1    30
2    35
Name: Age, dtype: int64

# 불리언벡터로 데이터 필터링

. boolean vector는 각 행에 대해 조건을 만족하는지 여부를 True 또는 False로 나타낸 것입니다. 이를 활용하여 데이터프레임을 조건에 맞게 필터링할 수 있습니다.

In [79]:
import pandas as pd

# 데이터 생성
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Ella'],
    'Age': [25, 30, 35, 40, 45],
    'City': ['New York', 'London', 'Paris', 'Berlin', 'Tokyo']
}

df = pd.DataFrame(data)

In [80]:
# Age가 35 이상인 행들만 필터링 (boolean vector 사용)
age_condition = df['Age'] >= 35
filtered_df = df[age_condition]

In [81]:
# City가 'London'인 행들만 필터링 (boolean vector 사용)
city_condition = df['City'] == 'London'
filtered_df_2 = df[city_condition]

## Pandas DataFrame에서 []를 사용하여 슬라이싱하는 예제를 제공하겠습니다:

In [158]:
import pandas as pd

# DataFrame 생성
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [25, 30, 35, 28, 22],
    'Score': [85.5, 92.0, 78.5, 89.3, 95.1]
}
df = pd.DataFrame(data)

# []를 사용하여 슬라이싱
subset = df[1:4]

In [159]:
df

      Name  Age  Score
0    Alice   25   85.5
1      Bob   30   92.0
2  Charlie   35   78.5
3    David   28   89.3
4      Eva   22   95.1

In [160]:
df[0:2]

    Name  Age  Score
0  Alice   25   85.5
1    Bob   30   92.0

In [162]:
df["Name"]

0      Alice
1        Bob
2    Charlie
3      David
4        Eva
Name: Name, dtype: object

## [] 기반 데이터 접근

Pandas DataFrame에서 []는 여러 가지 기능을 수행하는데 사용됩니다. 이를 이해하기 위해 다음과 같이 사용법과 의미를 설명하겠습니다.

열(Column) 접근:
[] 안에 열 이름을 넣으면 해당 열을 Series로 추출합니다.
DataFrame의 열은 사전(Dict)처럼 취급되기 때문에 열 이름을 키로 사용하여 열에 접근합니다.

여러 열에 접근:
[] 안에 여러 열 이름을 리스트로 넣으면 해당 열들을 DataFrame으로 추출합니다.

슬라이싱(Slicing):
[] 안에 슬라이싱을 사용하여 DataFrame에서 특정 범위의 행을 추출합니다.

조건 필터링(Condition Filtering):
[] 안에 불린(Boolean) 조건을 사용하여 조건에 맞는 행만 추출합니다.

In [ ]:
"""
열(Column) 접근:
[] 안에 열 이름을 넣으면 해당 열을 Series로 추출합니다.
DataFrame의 열은 사전(Dict)처럼 취급되기 때문에 열 이름을 키로 사용하여 열에 접근합니다.
"""

import pandas as pd

# DataFrame 생성
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [25, 30, 35, 28, 22],
    'Score': [85.5, 92.0, 78.5, 89.3, 95.1]
}
df = pd.DataFrame(data)

# 'Name' 열에 해당하는 데이터를 Series로 추출
name_column = df['Name']

In [ ]:
"""
여러 열에 접근:
[] 안에 여러 열 이름을 리스트로 넣으면 해당 열들을 DataFrame으로 추출합니다.
"""

import pandas as pd

# DataFrame 생성
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [25, 30, 35, 28, 22],
    'Score': [85.5, 92.0, 78.5, 89.3, 95.1]
}
df = pd.DataFrame(data)

# 'Name'과 'Age' 열에 해당하는 데이터를 DataFrame으로 추출
subset = df[['Name', 'Age']]

In [ ]:
"""
슬라이싱(Slicing):
[] 안에 슬라이싱을 사용하여 DataFrame에서 특정 범위의 행을 추출합니다.
"""

import pandas as pd

# DataFrame 생성
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [25, 30, 35, 28, 22],
    'Score': [85.5, 92.0, 78.5, 89.3, 95.1]
}
df = pd.DataFrame(data)

# 슬라이싱을 사용하여 인덱스 1부터 3까지의 행을 추출
subset = df[1:4]

print(subset)

In [164]:
"""
조건 필터링(Condition Filtering):
[] 안에 불린(Boolean) 조건을 사용하여 조건에 맞는 행만 추출합니다.
"""

import pandas as pd

# DataFrame 생성
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [25, 30, 35, 28, 22],
    'Score': [85.5, 92.0, 78.5, 89.3, 95.1]
}
df = pd.DataFrame(data)

# 'Age'가 30 이상인 행만 추출
age_above_30 = df[df['Age'] >= 30]

print(age_above_30)

      Name  Age  Score
1      Bob   30   92.0
2  Charlie   35   78.5

## 데이터 추가 

데이터 추가 예제:

데이터를 추가하는 방법은 기본적으로 새로운 행을 데이터 프레임에 추가하는 것입니다. 여러 가지 방법으로 데이터를 추가할 수 있습니다. 가장 일반적인 방법은 loc 또는 iloc 인덱서를 사용하는 것입니다.

In [71]:
"""
loc를 사용하여 row 데이터 추가하기:
"""
import pandas as pd

# 기존 데이터 프레임 생성
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 35]}
df = pd.DataFrame(data)

# 새로운 데이터 추가
new_data1 = {'Name': 'David', 'Age': 28}
new_data2 = ["Tom", 44]
df.loc[4]= new_data1
df.loc[5] = new_data2

In [72]:
df.loc[6,"Name"] = "Ted"

In [73]:
"""
loc를 사용하여 행 추가:
"""
df.loc[6] = ["Ted", 2]

In [74]:
df

      Name   Age
0    Alice  25.0
1      Bob  30.0
2  Charlie  35.0
4    David  28.0
5      Tom  44.0
6      Ted   2.0

In [75]:
"""
loc를 사용하여 열추가:
"""
df.loc[:, "Gender"] = ["Femail", "Male", "Male", "Male", "Male", "Male"]

In [78]:
df

      Name   Age  Gender
0    Alice  25.0  Femail
1      Bob  30.0    Male
2  Charlie  35.0    Male
4    David  28.0    Male
5      Tom  44.0    Male
6      Ted   2.0    Male

## 데이터 삭제

데이터를 삭제하는 방법에는 drop() 메서드를 사용하는 방법과 조건에 맞는 행을 필터링하여 삭제하는 방법이 있습니다.
- drop() 메서드를 사용하여 특정 행 삭제하기:
- 조건에 맞는 행을 필터링하여 삭제하기:

In [215]:
"""
drop() 메서드를 사용하여 특정 행 삭제하기:
"""

import pandas as pd

# 기존 데이터 프레임 생성
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        '나이': [25, 30, 35]}
df = pd.DataFrame(data)

# 특정 행 삭제
df = df.drop(1)

In [ ]:
"""
조건에 맞는 행을 필터링하여 삭제하기:
"""

import pandas as pd

# 기존 데이터 프레임 생성
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 35]}
df = pd.DataFrame(data)

# 조건에 맞는 행 삭제 (예: 나이가 30 이상인 행 삭제)
df = df[df['Age'] < 30]

## 데이터 변경
판다스(Pandas)에서 기존 데이터를 변경하는 방법에는 다양한 방법이 있습니다. 가장 일반적으로 사용되는 방법은 인덱싱 및 슬라이싱을 통해 특정 위치의 데이터를 수정하는 것입니다

- 단일 셀의 데이터 변경:
- 조건에 맞는 셀의 데이터 일괄 변경:
- 새로운 시리즈로 데이터 일괄 변경:

In [216]:
"""
1. 단일 셀의 데이터 변경:
"""
import pandas as pd

# 기존 데이터 프레임 생성
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 35]}
df = pd.DataFrame(data)

# 특정 셀의 데이터 변경
df.at[1, 'Age'] = 32

In [ ]:
"""
2. 조건에 맞는 셀의 데이터 일괄 변경:
"""
import pandas as pd

# 기존 데이터 프레임 생성
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 35]}
df = pd.DataFrame(data)

# 조건에 맞는 셀의 데이터 일괄 변경 (예: 나이가 30 이상인 경우 나이를 40으로 변경)
df.loc[df['나이'] >= 30, '나이'] = 40

In [ ]:
"""
새로운 시리즈로 데이터 일괄 변경:
"""
import pandas as pd

# 기존 데이터 프레임 생성
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 35]}
df = pd.DataFrame(data)

# 새로운 시리즈로 데이터 일괄 변경 (예: 모든 나이를 50으로 변경)
new_age = pd.Series([50, 50, 50])
df['Age'] = new_age

## 정렬
데이터프레임을 정렬하는 방법에는 sort_values() 메서드를 사용합니다. 이를 통해 원하는 열 기준으로 데이터프레임을 오름차순 또는 내림차순으로 정렬할 수 있습니다.

In [221]:
import pandas as pd

# 데이터 생성
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Age': [25, 30, 35, 28],
        'Gender': ['Female', 'Male', 'Male', 'Male'],
        'Height': [165, 180, 175, 170]}

df = pd.DataFrame(data)

In [222]:
# 이름 열을 기준으로 오름차순 정렬
df_sorted_name_asc = df.sort_values(by='Name', ascending=True)

In [223]:
# 나이 열을 기준으로 내림차순 정렬
df_sorted_age_desc = df.sort_values(by='Age', ascending=False)

In [224]:
# 여러 열을 기준으로 정렬 (나이를 먼저 오름차순으로 정렬하고, 그 다음 키를 내림차순으로 정렬)
df_sorted = df.sort_values(by=['Age', 'Height'], ascending=[True, False])

## 데이터프레임 산술 연산

데이터프레임은 다양한 산술 연산을 지원하며, 기본적으로 요소별(element-wise) 연산이 이루어집니다. 산술 연산은 데이터프레임 간의 연산 또는 데이터프레임 내부의 열 간 연산이 가능합니다. 

데이터프레임은 덧셈(+), 뺄셈(-), 곱셈(*), 나눗셈(/) 등의 산술 연산을 지원하며, 이 외에도 다양한 수학 함수를 적용할 수 있습니다. 데이터프레임의 산술 연산은 열 단위로 이루어지므로 데이터프레임의 크기가 동일해야 합니다.

In [225]:
"""
데이터프레임 간의 덧셈 연산
"""

import pandas as pd

# 데이터 생성
data1 = {'A': [1, 2, 3],
         'B': [4, 5, 6]}
df1 = pd.DataFrame(data1)

data2 = {'A': [7, 8, 9],
         'B': [10, 11, 12]}
df2 = pd.DataFrame(data2)

# 데이터프레임 간의 덧셈 연산
df_sum = df1 + df2

In [ ]:
"""
데이터프레임 내부의 열 간 덧셈 연산
"""
df_sum_columns = df1['A'] + df1['B']

## 전치(transpose)

데이터프레임의 transpose() 메서드를 사용하면 행과 열을 바꾸어 데이터프레임을 전치(transpose)할 수 있습니다. 전치된 데이터프레임은 원래 데이터프레임의 행과 열이 서로 바뀐 형태로 반환됩니다.

In [229]:
import pandas as pd

# 데이터 생성
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Age': [25, 30, 35, 28],
        'Gender': ['Female', 'Male', 'Male', 'Male'],
        'Height': [165, 180, 175, 170]}
df = pd.DataFrame(data)


# 데이터프레임 전치
df_transposed = df.transpose()

In [227]:
df

    이름  나이  성별
0  홍길동  30  남성
1  김철수  25  남성
2  이영희  35  여성

## numpy의 함수 적용

 NumPy 함수를 사용하여 데이터프레임의 값을 변경할 수 있습니다.

In [231]:
"""
데이터프레임의 값에 로그 함수 적용하기 (NumPy 함수 사용)
"""
import pandas as pd
import numpy as np

# 데이터프레임 생성
data = {
    'A': [1, 2, 3, 4, 5],
    'B': [10, 20, 30, 40, 50],
    'C': [100, 200, 300, 400, 500]
}

df = pd.DataFrame(data)


df_log = np.log(df)

In [ ]:
"""
데이터프레임의 값이 3 이상인 경우에만 제곱근 적용하기 (NumPy 함수와 조건 사용)
"""

import pandas as pd
import numpy as np

# 데이터프레임 생성
data = {
    'A': [1, 2, 3, 4, 5],
    'B': [10, 20, 30, 40, 50],
    'C': [100, 200, 300, 400, 500]
}

df = pd.DataFrame(data)

print("Original DataFrame:")
print(df)


condition = df >= 3
df_sqrt_condition = np.sqrt(df[condition])