안녕하세요.
이번시간에는....

# Pandas 시계열 데이터 처리
- datetime
- strftime(), strptime()
- timestamp
- timezone
- timedelta
- pandas 의 시계열 데이터 처리
- DatetimeIndex
- DateOffset 객체
- 시계열 관련 인스턴스 메소드
- dateutil
- .dt 접근자

Pandas 시계열 데이터 처리를 위해서 아래와 같은 클래스들을 사용할 수 있습니다.
예제코드를 통해서 하나하나 살펴보도록 하겠습니다.

# Pandas 시계열 데이터 처리

파이썬의 날짜 및 시간 관련 객체
| 클래스 | 내용|
|--|--|
|datetime.date | 그레고리력으로 날짜를 다룹니다. (year, month, day) |
|datetime.time | 특정일과 관련없이 모든 날(day)을 24x60x60초로 다루는 시간입니다. (hour, minute, second, microsecond, tzinfo)|
|datetime.datetime | 날짜와 시간의 조합입니다. (year, month, day, hour, minute, second, microsecond, tzinfo) |
|datetime.timedelta | date인스턴스간, time인스턴스간, 또는 datetime 인스턴스간의 차이를 microsecond 로 나타내는 기간입니다.|
|datetime.tzinfo | 시간대 정보 객체에 대한 추상 기본 클래스로서 사용자 정의로 시간을 조정하기 위해 사용됩니다.|
|datetime.timezone| UTC (Universal Time Coordinated) 의 고정 오프셋으로 tzinfo를 실행하는 클래스입니다.|

우선 현재 시간을 가져오는 방법에 대해서 알아보겠습니다.

In [1]:
from datetime import datetime

# 현재 날짜와 시간 가져오기
datetime.now()

datetime.datetime(2023, 8, 31, 1, 17, 21, 411518)

날짜와 시간정보를 입력하여 데이트타임 객체를 생성해보도록 하겠습니다.

In [2]:
# 날짜와 시간 구성하기
from datetime import datetime
dt = datetime(2023, 8, 1, 13, 0, 0)

datetime의 주요 속성에 대해서 알아보겠습니다.

In [3]:
dt.year

2023

In [4]:
dt.month

8

In [5]:
dt.day

1

In [6]:
dt.hour

13

In [7]:
dt.minute

0

In [8]:
dt.second

0

strftime 함수는 `datetime 객체`를 원하는 형식의 `문자열`로 변환하는 데 사용됩니다.
포맷 문자열을 사용하여 날짜와 시간을 원하는 형식으로 표현할 수 있습니다.

(문자열 포멧 아래내용 읽기)

## strftime(), strptime() 

파이썬의 `datetime` 모듈에서 `날짜`와 `시간`을 `문자열`로 `변환`하 파싱하는 데 사용되는 함수들입니다.

### strftime (String Format Time)

strftime 함수는 `datetime 객체`를 원하는 형식의 `문자열`로 변환하는 데 사용됩니다.
포맷 문자열을 사용하여 날짜와 시간을 원하는 형식으로 표현할 수 있습니다.
주요 포맷 코드 예시:
- `%Y`: 년 (4자리)
- `%m`: 월 (2자리)
- `%d`: 일 (2자리)
- `%a`: 요일 (3자리 문자열)
- `%A`: 요일 (문자열)
- `%H`: 시간 (24시간 형식, 2자리)
- `%M`: 분 (2자리)
- `%S`: 초 (2자리)

예제를 통해서 확인해보도록 하겠습니다.

In [4]:
from datetime import datetime

datetime.now().strftime("%Y-%m-%d %H:%M:%S")

'2023-08-31 08:03:38'

소문자 a를 넣으면 요일의 축약형 이름을 볼 수 있습니다.

In [7]:
datetime.now().strftime("%Y-%m-%d %a %H:%M:%S")

'2023-08-31 Thu 08:04:03'

대문자 A를 사용하면 요일의full이름을 볼 수 있습니다.

In [6]:
datetime.now().strftime("%Y/%m/%d %A %H:%M:%S")

'2023/08/31 Thursday 08:03:41'

(아래내용 읽기)

### strptime (String Parse Time)

strptime 함수는 `문자열`을 `datetime` 객체로 파싱(변환)하는 데 사용됩니다.  
입력된 문자열과 형식 문자열을 비교하여 datetime 객체를 생성합니다.  
strftime의 포맷 코드와 반대로, 문자열에서 날짜와 시간 정보를 추출합니다.

In [12]:
from datetime import datetime

datetime.strptime("2023-08-07 12:30:01", "%Y-%m-%d %H:%M:%S")

datetime.datetime(2023, 8, 7, 12, 30, 1)

datetime 타임스탬프는 특정 날짜와 시간을 고유한 숫자 값으로 나타낸 것을 말합니다.
이 숫자 값은 일반적으로 1970년 1월 1일부터의 경과 시간을 초단위로 표현한 것으로,
이를 "UNIX 시간" 또는 "에포크 시간"이라고도 합니다.

## timestamp

datetime 타임스탬프는 특정 날짜와 시간을 `고유한 숫자 값`으로 나타낸 것을 말합니다.  
이 숫자 값은 일반적으로 `1970년 1월 1일`부터의 경과 시간을 초단위로 표현한 것으로,  
이를 `"UNIX 시간"` 또는 "에포크 시간"이라고도 합니다.

파이썬의 datetime 모듈을 사용하여 날짜와 시간을 다루다보면,  
`datetime 객체`를 특정 시간으로부터의 경과 시간을 나타내는 `타임스탬프`로 변환하거나,  
반대로 `타임스탬프`를 `datetime 객체`로 변환하는 작업을 할 수 있습니다.

In [13]:
from datetime import datetime

# 현재 시간을 datetime 객체로 가져오기
datetime.now().timestamp()

1693412244.541048

In [14]:
# 타임스탬프를 datetime 객체로 변환
from datetime import datetime

datetime.fromtimestamp(1693407846.324211)

datetime.datetime(2023, 8, 31, 0, 4, 6, 324211)

`"나이브(Naive)"`란 용어는 `시간대(timezone) 정보를 갖지 않는` 시간 관련 데이터를 가리킵니다.  
파이썬의 `datetime` 라이브러리에서는 시간대 정보 없이 날짜와 시간만을 다루는 객체를 "나이브"하다고 표현합니다.  

시간대 정보가 없는 시간데이터는
시간대 변환시에 문제가 발생하거나 언제 발생한 사건인지 파악하기 어려울 수 있으므로,
실무에서는 `dateutil.tz` 모듈이나 `pytz` 라이브러리 등을 사용하여 
`datetime` 객체를 시간대 정보와 함께 생성하고 다루는 것이 좋습니다.

이부분에 대해서는 간략하게만 다루도록 하겠습니다.

## Naive vs tz-awre 시간대
`"나이브(Naive)"`란 용어는 `시간대(timezone) 정보를 갖지 않는` 시간 관련 데이터를 가리킵니다.  
파이썬의 `datetime` 라이브러리에서는 시간대 정보 없이 날짜와 시간만을 다루는 객체를 "나이브"하다고 표현합니다.  
즉, "나이브"한 `datetime` 객체는 특정한 지역이나 표준 시간대를 고려하지 않습니다.

예를 들어, 2023년 8월 15일 10시를 `datetime` 객체로 나타내면 아래와 같습니다:

```python
import datetime

naive_datetime = datetime.datetime(2023, 8, 15, 10, 0)
print(naive_datetime)
```

위의 `naive_datetime` 객체는 시간대 정보를 갖지 않습니다. 이 객체는 로컬 시스템의 기본 시간대를 따르게 됩니다. 이것은 시간대 변경이나 다양한 시간대의 변환을 고려하지 않고 단순히 날짜와 시간 정보를 저장하는 객체입니다.

나이브한 `datetime` 객체를 사용할 때 주의해야 할 점은 다음과 같습니다:

1. **시간대 변환 문제**: 나이브한 객체를 다른 시간대로 변환하면 부정확한 결과를 얻을 수 있습니다.
2. **시간대 정보 손실**: 나이브한 객체는 시간대 정보가 없으므로 다른 시간대에서 언제 발생한 사건인지 파악하기 어려울 수 있습니다.

이러한 이유로 시간대를 다루는 경우에는 `datetime` 객체를 "안전하게(tz-aware)" 만드는 것이 중요합니다. "안전한" `datetime` 객체는 시간대 정보를 포함하며, 시간대 변환 등의 작업을 정확하게 수행할 수 있습니다. 이를 위해서는 `dateutil.tz` 모듈이나 `pytz` 라이브러리 등을 사용하여 `datetime` 객체를 시간대 정보와 함께 생성하고 다루는 것이 좋습니다.

파이썬에서 시간대 정보를 처리하기 위해서는 pytz를 사용합니다.
pytz 라이브러리는 다양한 시간대의 변환과 처리를 지원합니다

## tzinfo

`tzinfo`는 파이썬의 `datetime` 모듈에서 시간대(Time Zone) 정보를 나타내는 추상 기본 클래스(Abstract Base Class)입니다. 이 클래스를 사용하여 `datetime` 객체에 시간대 정보를 추가할 수 있습니다.


## pytz 

`pytz`는 파이썬에서 시간대(Time Zone) 정보를 처리하고 다루는 라이브러리입니다. 파이썬의 내장 `datetime` 모듈은 기본적으로 시간대 정보를 다루는 기능이 제한적이기 때문에, `pytz` 라이브러리는 이를 보완하여 다양한 시간대의 변환과 처리를 지원합니다. `pytz`는 파이썬의 `datetime` 모듈과 함께 사용하여 시간대 정보를 적용한 날짜와 시간을 다루는 작업을 돕는 도구로 사용됩니다.

`pytz` 라이브러리의 주요 기능과 특징은 다음과 같습니다:

1. 다양한 시간대 지원: `pytz`는 전 세계의 다양한 시간대를 지원합니다. 오래된 시간대부터 최신 시간대까지 포함하고 있어, 다양한 국가와 지역의 시간을 정확하게 다룰 수 있습니다.

2. 오프셋과 시간대 이름: `pytz`는 시간대의 오프셋(offset)과 시간대의 이름을 다루는 클래스와 함수를 제공합니다. 이를 통해 시간대 변환 및 연산이 용이해집니다.

3. `datetime` 객체와 함께 사용: `pytz`는 `datetime` 모듈과 밀접하게 연동되어 시간대 정보를 가진 `datetime` 객체를 생성하고, 시간대 변환, 비교 등을 할 수 있도록 합니다.

4. 데이터베이스 기반 시간대 정보: `pytz`는 Olson 데이터베이스를 기반으로 시간대 정보를 제공합니다. 이 데이터베이스는 전 세계의 시간대 정보를 관리하며, `pytz`는 이 정보를 활용하여 정확한 시간대 처리를 가능케 합니다.  https://en.wikipedia.org/wiki/List_of_tz_database_time_zones

5. 유연한 인터페이스: `pytz`는 다양한 시간대 정보를 다루는 데 필요한 유연한 인터페이스를 제공합니다. 시간대 이름, 오프셋, DST(Daylight Saving Time) 등을 조작하고 변환할 수 있습니다.

우선 timezone 정보를 포함하고 있지 않은 datetime 객체를 생성해보도록 하겠습니다.

In [17]:
from datetime import datetime

dt = datetime(2023, 8, 7, 15, 30, 0)
dt, dt.timestamp() # naive 시간대

(datetime.datetime(2023, 8, 7, 15, 30), 1691389800.0)

출력해보면 시간대 정보가 들어가 있지 않습니다.

astimezone 메소드를 호출하여 시간대 정보를 입력합니다.
이때 시간대 정보는 pytz 라이브러리를 활용하여 Asia/Seoul로 입력합니다.

In [18]:
import pytz

dt_seoul = dt.astimezone(pytz.timezone('Asia/Seoul'))
dt_seoul, dt_seoul.timestamp()

(datetime.datetime(2023, 8, 7, 15, 30, tzinfo=<DstTzInfo 'Asia/Seoul' KST+9:00:00 STD>),
 1691389800.0)

그러면 이제 datetime 객체에 tzinfo 속성이 추가된것을 볼 수 있습니다.

이제 부터는 astimezone() 메소드를 활용하여 timezone 을 변경하면
date, time 속성이 해당 timezone 에 맞게 자동으로 변경되는 것을 확인할 수 있습니다.

In [19]:
dt_ny = dt_seoul.astimezone(pytz.timezone('America/New_York'))
dt_ny, dt_ny.timestamp() # tz-aware 시간대

(datetime.datetime(2023, 8, 7, 2, 30, tzinfo=<DstTzInfo 'America/New_York' EDT-1 day, 20:00:00 DST>),
 1691389800.0)

pytz 에서 제공하는 시간대를 출력하는 방법에 대해서 알아보도록 하겠습니다>

In [11]:
import pytz

# 사용 가능한 모든 시간대 출력
all_timezones = pytz.all_timezones
print("사용 가능한 모든 시간대:", len(all_timezones), all_timezones[:10])

# 일반적으로 사용되는 시간대 출력
common_timezones = pytz.common_timezones
print("일반적으로 사용되는 시간대:", len(common_timezones), common_timezones[:10])

사용 가능한 모든 시간대: 596 ['Africa/Abidjan', 'Africa/Accra', 'Africa/Addis_Ababa', 'Africa/Algiers', 'Africa/Asmara', 'Africa/Asmera', 'Africa/Bamako', 'Africa/Bangui', 'Africa/Banjul', 'Africa/Bissau']
일반적으로 사용되는 시간대: 433 ['Africa/Abidjan', 'Africa/Accra', 'Africa/Addis_Ababa', 'Africa/Algiers', 'Africa/Asmara', 'Africa/Bamako', 'Africa/Bangui', 'Africa/Banjul', 'Africa/Bissau', 'Africa/Blantyre']

이번에는 timedelta 에 대해서 알아보도록 하겠습니다.

`timedelta`는 파이썬의 내장 모듈인 `datetime`에서 제공하는 클래스로,  
두 날짜 또는 시간 사이의 시간 간격을 나타내는 데 사용됩니다.  
`timedelta` 객체는 일(day), 초(second), 마이크로초(microsecond) 등의 시간 단위로 간격을 표현할 수 있습니다.  
주로 날짜와 시간 연산에서 일정 기간을 더하거나 빼는 등의 작업에 활용됩니다.

예제코드를 통해 살펴보도록 하겠습니다.

## timedelta

`timedelta`는 파이썬의 내장 모듈인 `datetime`에서 제공하는 클래스로,  
두 날짜 또는 시간 사이의 시간 간격을 나타내는 데 사용됩니다.  
`timedelta` 객체는 일(day), 초(second), 마이크로초(microsecond) 등의 시간 단위로 간격을 표현할 수 있습니다.  
주로 날짜와 시간 연산에서 일정 기간을 더하거나 빼는 등의 작업에 활용됩니다.

`timedelta` 객체의 생성자는 다음과 같이 사용됩니다:

```python
from datetime import timedelta

# 일(day), 초(second), 마이크로초(microsecond) 단위로 간격 생성
time_gap = timedelta(days=5, seconds=3600, microseconds=5000)
```

`timedelta` 객체의 주요 속성과 메서드는 다음과 같습니다:

1. `days`: 일(day) 단위의 간격을 나타내는 속성입니다.
2. `seconds`: 초(second) 단위의 간격을 나타내는 속성입니다.
3. `microseconds`: 마이크로초(microsecond) 단위의 간격을 나타내는 속성입니다.
4. `total_seconds()`: `timedelta` 객체의 총 초(second) 수를 반환하는 메서드입니다.

`timedelta` 객체는 `datetime` 객체와 함께 사용하여 시간 연산을 수행할 때 유용합니다.

주어진 datetime객체로부터 부터 2일 후의 시간정보를 확인할 수 있는 예제입니다.

In [13]:
# 2일 후의 날짜 계산
from datetime import datetime, timedelta
datetime(2023, 9, 2, 8, 9, 38, 797337) + timedelta(days=2)

datetime.datetime(2023, 9, 4, 8, 9, 38, 797337)

In [15]:
# 3시간 30분 후의 시간 계산
datetime(2023, 9, 2, 11, 00) + timedelta(hours=3, minutes=30)

datetime.datetime(2023, 9, 2, 14, 30)

In [16]:
# 두 날짜 사이의 일수 계산
date1 = datetime(2023, 8, 1, 9, 10, 23)
date2 = datetime(2023, 8, 10, 10, 15, 11)
date2 - date1

datetime.timedelta(days=9, seconds=3888)

In [17]:
(date2-date1).seconds/60/60

1.0799999999999998

pandas의 to_datetime 함수는 문자열이나 숫자 등의 다양한 형식의 입력을 받아
DatetimeIndex 또는 Timestamp 객체로 변환하는 기능을 제공하는 함수입니다.
이 함수를 사용하면 날짜와 시간 데이터를 처리하고 pandas에서 다양한 시간 관련 작업을 수행할 수 있습니다.

# pandas 의 시계열 데이터 처리

## to_datetime()
`pandas`의 `to_datetime` 함수는 문자열이나 숫자 등의 다양한 형식의 입력을 받아  
`DatetimeIndex` 또는 `Timestamp` 객체로 변환하는 기능을 제공하는 함수입니다.  
이 함수를 사용하면 날짜와 시간 데이터를 처리하고 `pandas`에서 다양한 시간 관련 작업을 수행할 수 있습니다.

`to_datetime` 함수의 주요 기능과 사용법은 다음과 같습니다:

1. **문자열을 날짜로 변환**: `to_datetime` 함수는 문자열을 날짜 또는 시간 형식으로 변환할 수 있습니다. 이 때, 문자열의 형식을 지정할 수 있습니다.

2. **숫자나 문자열을 타임스탬프로 변환**: `to_datetime` 함수는 숫자나 문자열을 `Timestamp` 객체로 변환할 수 있습니다.

3. **시계열 데이터 변환**: `to_datetime` 함수는 데이터프레임의 열이나 시리즈를 변환할 수 있습니다. 이 때, 컬럼의 이름이나 인덱스를 지정하여 변환할 수 있습니다.

4. **옵션 설정**: `to_datetime` 함수는 다양한 옵션을 설정하여 날짜 형식을 조정하거나 누락된 데이터 처리를 할 수 있습니다.

In [25]:
# 문자열을 날짜로 변환
import pandas as pd

pd.to_datetime('2023-08-07 10:01:23')

Timestamp('2023-08-07 10:01:23')

In [19]:
# 숫자(에포크시간)를 타임스탬프로 변환
import pandas as pd

pd.to_datetime(1678873600, unit='s')

Timestamp('2023-03-15 09:46:40')

import pandas as pd
import numpy as np

# 유닉스 에포크 시간 배열 생성
unix_epoch_times = [1628299200, 1628385600, 1628472000, 1628558400]

# 유닉스 에포크 시간 배열을 DatetimeIndex로 변환
datetime_index = pd.to_datetime(unix_epoch_times, unit='s')
df = pd.DataFrame(
    dict(
        Datetime=datetime_index, 
        value=np.random.randint(10,20,len(datetime_index))
    )
)
print(df)

to_datetime은 문자열을 포함하는 객체를 인자로 받아서
해당문자열을 datetime으로 변환하여 
datetime형식을 저장하는 시리즈로 변환 결과를 리턴할 수도 있습니다.

In [22]:
# 시리즈 변환
s = pd.Series(['2023-08-01', '2023-08-02', '2023-08-03'])
s

0    2023-08-01
1    2023-08-02
2    2023-08-03
dtype: object

In [28]:
s2 = pd.to_datetime(s)
s2

0   2023-08-01
1   2023-08-02
2   2023-08-03
dtype: datetime64[ns]

시리즈를 인자로 받을 수 있기 때문에
데이터프레임의 열단위로 데이터를 처리하는데 편리합니다.

In [23]:
# 데이터프레임 변환
data = {'Date': ['2023-08-01', '2023-08-02', '2023-08-03'],
        'Value': [10, 20, 30]}
df = pd.DataFrame(data)
df

         Date  Value
0  2023-08-01     10
1  2023-08-02     20
2  2023-08-03     30

아래의 코드는 Date컬럼의 문자열 데이터를 datetime 객체로 변환하여
TS라는 이름의 컬럼으로 저장하는 코드입니다.

In [26]:
df["TS"] = pd.to_datetime(df.Date)
df

         Date  Value         TS
0  2023-08-01     10 2023-08-01
1  2023-08-02     20 2023-08-02
2  2023-08-03     30 2023-08-03

info() 메소드를 통해 데이터 타입을 확인해보면
TS컬럼이 datetime형식의 데이터를 저장하고 있음을 볼 수 있습니다.

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    3 non-null      object
 1   Value   3 non-null      int64
 2   TS      3 non-null      datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 200.0+ bytes

pandas 에서 datetime을 처리하는 함수에 대해서 알아보도록 하겠습니다.

## pandas에서 datetime 활용

`pandas`에서 `datetime` 객체는 시계열 데이터와 날짜, 시간 정보를 표현하고 다루는 데 사용되는 중요한 데이터 유형입니다.  
`datetime` 객체는 `pandas` 라이브러리에서 시간 관련 연산과 분석을 수행하는 데 필수적인 도구로 사용됩니다.  
객체는 시계열 데이터를 생성하고 다루는 데 중요한 역할을 합니다.

`pandas`에서 활용하는 `datetime` 객체의 주요 특징과 기능은 다음과 같습니다:

1. **DatetimeIndex**: `pandas`에서 시계열 데이터를 다룰 때, `datetime` 객체는 `DatetimeIndex`의 요소로 사용됩니다. `DatetimeIndex`는 날짜와 시간을 색인으로 사용하는 데 특화된 데이터 구조입니다.

2. **날짜와 시간 표현**: `datetime` 객체는 날짜와 시간 정보를 모두 포함하며, 연도, 월, 일, 시, 분, 초, 마이크로초 등을 표현할 수 있습니다.

3. **시간 연산 및 변환**: `datetime` 객체는 시간 간격을 계산하거나 다른 시간 단위로 변환하는 기능을 제공합니다. 또한 시간대 변환과 관련된 작업도 처리할 수 있습니다.

4. **표준 연산 및 함수 지원**: `datetime` 객체는 일반적인 연산자와 함수를 사용하여 시간 관련 작업을 수행할 수 있습니다. 예를 들어, 두 날짜의 차이를 계산하거나 특정 날짜와 시간을 생성하는 등의 작업이 가능합니다.

5. **누락된 데이터 처리**: `pandas`의 `datetime` 객체는 누락된 날짜나 시간 데이터를 처리하고 채울 수 있는 기능을 제공합니다.

6. **시각화 및 시계열 분석**: `datetime` 객체를 사용하여 시계열 데이터를 시각화하고 분석하는데 활용할 수 있습니다. `pandas`와 `matplotlib`을 연동하여 시계열 데이터를 그래프로 표현할 수 있습니다.

pd.date_range()는 pandas 라이브러리에서 사용되는 함수로, 날짜 범위를 생성하는데 사용됩니다.
예제를 통해서 알아보도록 하겠습니다.

## date_range()

`pd.date_range()`는 `pandas` 라이브러리에서 사용되는 함수로, 날짜 범위를 생성하는데 사용됩니다.  
이 함수를 사용하면 특정 기간 동안 일정한 간격으로 날짜를 생성하여 `DatetimeIndex`를 생성할 수 있습니다.  
이는 시계열 데이터를 다루거나 분석할 때 유용하게 활용됩니다.

`pd.date_range()` 함수의 주요 인자와 사용법은 다음과 같습니다:

1. `start`: 날짜 범위의 시작 날짜를 지정합니다. 날짜 형식으로 입력할 수 있습니다.
2. `end`: 날짜 범위의 종료 날짜를 지정합니다. 날짜 형식으로 입력할 수 있습니다.
3. `periods`: 생성할 날짜의 수를 지정합니다. `start`가 있을 경우 `end` 대신에 이 인자를 사용할 수 있습니다.
4. `freq`: 생성할 날짜의 간격을 지정합니다. 예를 들어, 'D'는 일간격, 'H'는 시간 간격을 나타냅니다.
5. `normalize`: 기본값은 False이며, True로 설정하면 시간을 00:00:00으로 정규화합니다.

In [32]:
# 날짜 범위 생성: 2023년 1월 1일부터 2023년 1월 10일까지
import pandas as pd
pd.date_range(start='2023-01-01', end='2023-01-10', freq='D')

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06', '2023-01-07', '2023-01-08',
               '2023-01-09', '2023-01-10'],
              dtype='datetime64[ns]', freq='D')

In [33]:
# 날짜 범위 생성: 2023년 1월 1일 00:00부터 2023년 1월 2일 02:00까지 시간단위로
import pandas as pd
pd.date_range(start='2023-01-01 09:00', end='2023-01-02 02:00', freq='H')

DatetimeIndex(['2023-01-01 09:00:00', '2023-01-01 10:00:00',
               '2023-01-01 11:00:00', '2023-01-01 12:00:00',
               '2023-01-01 13:00:00', '2023-01-01 14:00:00',
               '2023-01-01 15:00:00', '2023-01-01 16:00:00',
               '2023-01-01 17:00:00', '2023-01-01 18:00:00',
               '2023-01-01 19:00:00', '2023-01-01 20:00:00',
               '2023-01-01 21:00:00', '2023-01-01 22:00:00',
               '2023-01-01 23:00:00', '2023-01-02 00:00:00',
               '2023-01-02 01:00:00', '2023-01-02 02:00:00'],
              dtype='datetime64[ns]', freq='H')

DatetimeIndex는 Datetime 타입의 객체를 DataFrame의 인덱스로 활용할 경우이며
pandas에서는 이를 위한 유용한 함수들을 제공하고 있습니다.
예제를 통해 확인해보도록 하겠습니다.

## DatetimeIndex

`DatetimeIndex`는 Datetime 타입의 객체를 DataFrame의 인덱스로 활용할 경우이며  
이는 날짜와 시간 정보를 포함하는 인덱스(Index)로서, 데이터프레임이나 시리즈의 행을 식별하는 데 활용됩니다.  
`DatetimeIndex`는 시계열 데이터를 쉽게 조작하고 분석하는데 매우 유용합니다.

`DatetimeIndex`의 주요 특징과 기능은 다음과 같습니다:

1. **시계열 데이터와 연동**: `DatetimeIndex`는 시계열 데이터를 다루는 데 최적화된 구조입니다. 시계열 데이터를 데이터프레임이나 시리즈와 함께 사용할 때, 인덱스로 `DatetimeIndex`를 사용하면 데이터를 날짜와 시간에 기반하여 쉽게 필터링하거나 조작할 수 있습니다.

2. **데이터 선택 및 슬라이싱**: `DatetimeIndex`를 사용하면 날짜 범위를 기반으로 데이터를 선택하거나 슬라이싱하는 작업을 쉽게 수행할 수 있습니다. 원하는 날짜 범위 내의 데이터를 추출하거나 필터링하는데 용이합니다.

3. **데이터 리샘플링**: `DatetimeIndex`는 시계열 데이터의 리샘플링 작업을 지원합니다. 데이터를 주기적으로 묶어서 집계하거나 변환하는 작업을 할 때 유용합니다.

4. **시간 간격 연산**: `DatetimeIndex`를 사용하여 시간 간격을 계산하거나 다른 시간 단위로 변환하는 작업을 수행할 수 있습니다.

5. **데이터 정렬**: `DatetimeIndex`는 날짜와 시간에 기반하여 데이터를 정렬하는 데 사용됩니다. 데이터를 시간순으로 정렬할 수 있습니다.

In [28]:
import pandas as pd
import numpy as np

data = np.random.randint(0,12,10)

df = pd.DataFrame(
    {"Value":data},
    index = pd.date_range(start='2023-01-31 18:00', periods=len(data), freq="H")
)
df

                     Value
2023-01-31 18:00:00      8
2023-01-31 19:00:00      4
2023-01-31 20:00:00      6
2023-01-31 21:00:00      9
2023-01-31 22:00:00      1
2023-01-31 23:00:00      0
2023-02-01 00:00:00      5
2023-02-01 01:00:00     10
2023-02-01 02:00:00      8
2023-02-01 03:00:00      8

문자열을 확용하여 특정 날짜 범위로 슬라이싱이 가능합니다.
슬라이싱의 시작과 끝에 정확하게 일치하는 라벨의 datetime 이 없더라도
해당 문자열을 datetiem으로 변환하여 시간 범위를 고려해서 자동으로 선택해줍니다.

In [31]:
# 특정 날짜 범위 선택
df['2023-01-31 23:30':'2023-02-01 02:10']

                     Value
2023-02-01 00:00:00      5
2023-02-01 01:00:00     10
2023-02-01 02:00:00      8

문자열 대신 dateitme객체를 직접적으로 넣어주어도 됩니다.

In [32]:
# 특정 날짜 범위 선택
from datetime import datetime
df[datetime(2023,1,31,23,30):datetime(2023,2,1,2,30)]

                     Value
2023-02-01 00:00:00      5
2023-02-01 01:00:00     10
2023-02-01 02:00:00      8

loc인덱서를 활용하여 문자열로 특정날짜를 입력하면
해당 날짜에 해당하는 행을 모두 확인할 수 있습니다.

In [35]:
# 특정 날짜 선택
df.loc['2023-01-31']

                     Value
2023-01-31 18:00:00      8
2023-01-31 19:00:00      4
2023-01-31 20:00:00      6
2023-01-31 21:00:00      9
2023-01-31 22:00:00      1
2023-01-31 23:00:00      0

loc인덱서를 활용하여 문자열로 특정 월을 입력하면
해당 월에 해당하는 행을 모두 확인할 수 있습니다.

In [36]:
# 특정 월 선택
df.loc['2023-02']

                     Value
2023-02-01 00:00:00      5
2023-02-01 01:00:00     10
2023-02-01 02:00:00      8
2023-02-01 03:00:00      8

pandas에서 resample() 메서드를 사용하면 원하는 리샘플링 주기를 지정하고, 
해당 주기로 데이터를 집계하거나 변환하는 작업을 수행합니다.
예제를 통해 확인해보도록 하겠습니다.

## resampling()

`pandas`의 리샘플링(resampling)은 시계열 데이터의 주기를 변경하는 작업을 말합니다. 이는 원본 시계열 데이터의 간격을 더 큰 주기로 변환하거나 더 작은 주기로 세분화하는 작업을 의미합니다. 리샘플링은 시계열 데이터를 분석하거나 시각화할 때 유용하며, 데이터의 집계나 변환 작업을 수행하는데 활용됩니다.

`pandas`에서 리샘플링은 `resample()` 메서드를 사용하여 수행할 수 있습니다. 이 메서드는 원하는 리샘플링 주기를 지정하고, 해당 주기로 데이터를 집계하거나 변환하는 작업을 수행합니다.

`resample()` 메서드의 주요 인자와 사용법은 다음과 같습니다:

1. `rule`: 리샘플링할 주기를 지정합니다. 예를 들어, 'D'는 일간격, 'M'은 월간격을 의미합니다.
2. `how`: 집계 방법을 지정합니다. 'mean', 'sum', 'count' 등이 가능합니다.
3. `closed`: 리샘플된 구간의 어느 쪽을 포함할지 지정합니다. 'right', 'left', 'both', 'neither' 중 선택할 수 있습니다.
4. `label`: 리샘플된 구간의 레이블을 지정합니다. 'right', 'left' 중 선택할 수 있습니다.

예제를 위한 데이터프레임을 만들도록 하겠습니다.
이 데이터프레임에는
23년1월1일 부터 60일 간 일단위 구분된 datetime객체를 index로 가지고 있습니다.

In [37]:
import pandas as pd
import numpy as np

df = pd.DataFrame(
    {"Value":np.random.randint(1,100,60)},
    index=pd.date_range(start="2023-01-01", periods=60, freq="D")
)

head와 tail을 통해서 데이터가 어떻게 들어가 있는지 확인해보도록 하겠습니다.

In [38]:
df.head(2)

            Value
2023-01-01     57
2023-01-02     86

In [39]:
df.tail(2)

            Value
2023-02-28     70
2023-03-01     55

In [41]:
# 월간 평균 리샘플링
df.resample('M').mean().round(2)

            Value
2023-01-31  51.26
2023-02-28  50.64
2023-03-31  55.00

In [42]:
# 주간 표준편차 리샘플링
df.resample('W').std().round(2)

            Value
2023-01-01    NaN
2023-01-08  26.03
2023-01-15  22.12
2023-01-22  29.99
2023-01-29  20.94
2023-02-05  30.39
2023-02-12  17.52
2023-02-19  20.50
2023-02-26  33.85
2023-03-05  11.68

판다스에서 날짜 오프셋(Date Offset)은 시계열 데이터를 다룰 때 
특정 주기나 간격에 따라 날짜와 시간을 조정하기 위해 사용 됩니다.
즉 일주일후 혹은 한달후 등으로 쉽게 변경할 수 있게 해줍니다.
파이썬의 TimeDelta와 유사한 기능을 제공합니다.

예제를 통해 확인해보도록 하겠습니다.

# DateOffset 객체

판다스에서 날짜 오프셋(Date Offset)은 시계열 데이터를 다룰 때 날짜와 시간을 조작하고 오프셋을 적용하는데 사용되는 도구로써  
파이썬의 `TimeDelta`와 유사한 기능을 제공합니다.
날짜 오프셋은 특정 주기나 간격에 따라 날짜와 시간을 조정하는 기능을 제공하여  
데이터 분석과 시계열 데이터 처리를 보다 효과적으로 수행할 수 있도록 도와줍니다.  
주요 날짜 오프셋은 다음과 같습니다:

1. **Day, BusinessDay**: 날짜를 일(day) 단위로 이동시키는 오프셋입니다. `pd.DateOffset(days=n)`와 같이 사용합니다. `BusinessDay`는 주말과 공휴일을 제외하고 이동합니다.

2. **Week**: 주(week) 단위로 날짜를 이동시키는 오프셋입니다. `pd.DateOffset(weeks=n)`와 같이 사용합니다.

3. **Month, Year**: 월(month)과 년(year) 단위로 날짜를 이동시키는 오프셋입니다. `pd.DateOffset(months=n)`와 `pd.DateOffset(years=n)`와 같이 사용합니다.

4. **Hour, Minute, Second**: 시(hour), 분(minute), 초(second) 단위로 날짜와 시간을 이동시키는 오프셋입니다.

5. **Custom Offset**: 사용자 정의 오프셋을 만들어 사용할 수도 있습니다. 이는 특정한 주기에 따라 날짜와 시간을 조정하기 위해 유용합니다.

날짜 오프셋은 주로 `pd.Timestamp`나 `pd.DatetimeIndex` 객체와 함께 사용됩니다.

In [44]:
# 일주일 후로 이동
import pandas as pd

pd.Timestamp('2023-08-08') + pd.DateOffset(weeks=1)

Timestamp('2023-08-15 00:00:00')

In [45]:
# 10주 후로 이동
import pandas as pd

pd.Timestamp('2023-08-08') + pd.DateOffset(weeks=10)

Timestamp('2023-10-17 00:00:00')

In [46]:
# 힌딜 후로 이동
pd.Timestamp('2023-08-08') + pd.DateOffset(months=1)

Timestamp('2023-09-08 00:00:00')

데이터 프레임의 특정 컬럼에 DateOffset을 적용하는 예제코드를 살펴보도록 하겠씁니다.

In [44]:
import pandas as pd

# 샘플 데이터프레임 생성
df = pd.DataFrame(
    {
        'date': pd.date_range(start='2023-08-01', periods=10),
        'value': np.random.randint(1,100,10),
    }
)
df

        date  value
0 2023-08-01      7
1 2023-08-02     93
2 2023-08-03     27
3 2023-08-04     80
4 2023-08-05     35
5 2023-08-06     53
6 2023-08-07     30
7 2023-08-08     86
8 2023-08-09     24
9 2023-08-10     33

In [45]:
# 3일 만큼 이동
df['shifted_date'] = df['date'] + pd.DateOffset(days=3)
df

        date  value shifted_date
0 2023-08-01      7   2023-08-04
1 2023-08-02     93   2023-08-05
2 2023-08-03     27   2023-08-06
3 2023-08-04     80   2023-08-07
4 2023-08-05     35   2023-08-08
5 2023-08-06     53   2023-08-09
6 2023-08-07     30   2023-08-10
7 2023-08-08     86   2023-08-11
8 2023-08-09     24   2023-08-12
9 2023-08-10     33   2023-08-13

DatetimeIndex 에 DateOffset을 적용하는 방법을 알아보도록 하겠습니다.
우선 date컬럼을 데이터프레임의 인덱스로 설정해줍니다.
그리고 index속성을 활용하여 dateoffset을 덧셈연산자를 통해서 적용해줍니다.

In [51]:
# DatetimeIndex 에 DateOffset을 적용
df2 = df.set_index("date")
df2.index = df2.index + pd.DateOffset(days=2)
df2.head(2)

            value shifted_date
date
2023-08-03      7   2023-08-04
2023-08-04     93   2023-08-05

MonthEnd, MonthBegin, Week 클래스를 활용하면
해당날짜에 대해서 해당월의 첫째날, 마지막날 혹은 해당 주의 첫번째날 혹은 주말 등으로 쉽게 이동할 수 있습니다.

## MonthEnd, MonthBegin, Week

판다스(Pandas)에서 `MonthEnd`, `MonthBegin`, `Week` 클래스는  
날짜 오프셋을 표현하는데 사용되는 클래스들입니다.  
이들 클래스는 주로 시계열 데이터의 날짜와 시간을 효과적으로 조작하고 계산하는 데 활용됩니다.

In [52]:
"""
1. **`MonthEnd`** 클래스 (pd.Timestamp)
`MonthEnd` 클래스는 월(month)의 마지막 날짜로 이동하는 날짜 오프셋입니다.
"""

import pandas as pd

month_end = pd.offsets.MonthEnd()
month_end.rollforward('2023-08-15')

Timestamp('2023-08-31 00:00:00')

In [53]:
pd.Timestamp('2023-08-15') + month_end

Timestamp('2023-08-31 00:00:00')

In [54]:
# 해당일자에서 이전달의 마지막 날로 이동
month_end.rollback('2023-08-15')

Timestamp('2023-07-31 00:00:00')

In [55]:
pd.Timestamp('2023-08-15') - month_end

Timestamp('2023-07-31 00:00:00')

In [56]:
"""
2. **`MonthBegin` 클래스**:
`MonthBegin` 클래스는 월(month)의 첫 번째 날짜로 이동하는 날짜 오프셋입니다.
"""

import pandas as pd

month_begin = pd.offsets.MonthBegin()
month_begin.rollforward(pd.Timestamp('2023-08-15'))

Timestamp('2023-09-01 00:00:00')

In [57]:
pd.Timestamp('2023-08-15') + month_begin

Timestamp('2023-09-01 00:00:00')

In [58]:
month_begin.rollback(pd.Timestamp('2023-08-15'))

Timestamp('2023-08-01 00:00:00')

In [59]:
pd.Timestamp('2023-08-15') - month_begin

Timestamp('2023-08-01 00:00:00')

In [60]:
"""
3. **`Week` 클래스**:
`Week` 클래스는 주(week)의 특정 요일로 이동하는 날짜 오프셋입니다.
"""
import pandas as pd
week_sat = pd.offsets.Week(weekday=5) # Saturday

week_sat.rollforward(pd.Timestamp('2023-08-15')).strftime("%Y-%m-%d %A %H:%M:%S")

'2023-08-19 Saturday 00:00:00'

In [61]:
week_mon = pd.offsets.Week(weekday=0) # Monday
week_mon.rollforward(pd.Timestamp('2023-08-15')).strftime("%Y-%m-%d %A %H:%M:%S")

'2023-08-21 Monday 00:00:00'

In [62]:
(pd.Timestamp('2023-08-15') + pd.offsets.Week(weekday=6)).strftime("%Y-%m-%d %A %H:%M:%S")

'2023-08-20 Sunday 00:00:00'

## .dt 접근자

판다스에서 `.dt` 접근자는 시리즈(Series)나 데이터프레임(DataFrame) 객체의   
날짜와 시간 관련 작업을 수행하는 데 사용되는 접근자(accessor)입니다.   
이 접근자를 사용하여 시계열 데이터의 날짜, 시간, 요일 등의 세부 정보를 추출하거나 조작할 수 있습니다.

In [63]:
import pandas as pd

df = pd.DataFrame(
    {'Date': ['2023-08-01', '2023-08-15', '2023-08-30']}
)
df

         Date
0  2023-08-01
1  2023-08-15
2  2023-08-30

In [64]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    3 non-null      object
dtypes: object(1)
memory usage: 152.0+ bytes

In [65]:
df['Date'] = pd.to_datetime(df['Date'])  # 문자열을 날짜로 변환
df

        Date
0 2023-08-01
1 2023-08-15
2 2023-08-30

In [66]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    3 non-null      datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 152.0 bytes

In [67]:
df.Date.dt.year

0    2023
1    2023
2    2023
Name: Date, dtype: int32

In [68]:
df.Date.dt.month

0    8
1    8
2    8
Name: Date, dtype: int32

In [69]:
df.Date.dt.day

0     1
1    15
2    30
Name: Date, dtype: int32

In [70]:
df.Date.dt.day_name()

0      Tuesday
1      Tuesday
2    Wednesday
Name: Date, dtype: object

In [71]:
# error
df.Date.year

AttributeError: 'Series' object has no attribute 'year'

## dataframe 에서 timezone 변경

dataframe 에서 timezone 변경하기 위해서는 tz_localize()라는 메소드를 활용합니다.
예제를 통해서 확인해보도록 하겠습니다.
우선 예제를 위한 데이터 프레임을 생성해보도록 하겠습니다.

In [76]:
import pandas as pd

# 예제 데이터프레임 생성
data = {
    'timestamp': ['2023-08-01 10:00:00', '2023-08-15 12:30:00', '2023-08-30 15:45:00'],
    'value': [10, 20, 30]
}
df = pd.DataFrame(data)
df['timestamp'] = pd.to_datetime(df['timestamp'])  # 문자열을 날짜로 변환
df

            timestamp  value
0 2023-08-01 10:00:00     10
1 2023-08-15 12:30:00     20
2 2023-08-30 15:45:00     30

tz_localize를 호출하여 naive 시간대의 데이터에 timezone 정보를 입력해보도록 하겠습니다.

In [77]:
df.timestamp = df.timestamp.dt.tz_localize('Asia/Seoul')  # UTC 시간대로 설정
df

                  timestamp  value
0 2023-08-01 10:00:00+09:00     10
1 2023-08-15 12:30:00+09:00     20
2 2023-08-30 15:45:00+09:00     30

위 코드를 실행하면 timestamp 컬럼에 있는 시간에 Asia/Seoul을 나타내는
+09:00 이라는 표시가 나타나게 됩니다.

In [78]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   timestamp  3 non-null      datetime64[ns, Asia/Seoul]
 1   value      3 non-null      int64
dtypes: datetime64[ns, Asia/Seoul](1), int64(1)
memory usage: 176.0 bytes

In [79]:
# 시간대 변경
new_timezone = 'America/New_York'
df['timestamp'] = df['timestamp'].dt.tz_convert(new_timezone)  # 뉴욕 시간대로 변환
df

                  timestamp  value
0 2023-07-31 21:00:00-04:00     10
1 2023-08-14 23:30:00-04:00     20
2 2023-08-30 02:45:00-04:00     30

In [80]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   timestamp  3 non-null      datetime64[ns, America/New_York]
 1   value      3 non-null      int64
dtypes: datetime64[ns, America/New_York](1), int64(1)
memory usage: 176.0 bytes